<p-dialog [formGroup]="formCapNhat" [(visible)]="show" [style]="{width: '960px'}"
    header="SỬA CÂU HỎI THĂM DÒ Ý KIẾN" [modal]="true" class="p-fluid" (onHide)="TatPopup()" (onShow)="GetHoatDong()"
    >
    <div class="field">
        <label for="noiDung">Nội dung <span class="p-error">*</span></label>
        <input type="text" formControlName="noiDung" pInputText id="noiDung">
    </div>
    <div class="field">
        <label for="ngayDienRa">Ngày diễn ra</label>
        <p-calendar id="ngayDienRa" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" inputId="icon"
         formControlName="ngayDienRa"></p-calendar>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-info" (click)="CapNhat()"></button>
        <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-danger" (click)="TatPopup()"></button>
    </ng-template>
</p-dialog>