<p-dialog
    [(visible)]="show"
    [draggable]="true"
    [resizable]="false"
    (onHide)="Thoat()"
    [style]="{ width: '950px' }"
    [modal]="true"
    header="Trả lời câu hỏi thường gặp"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field div-center">
            Các trường có dấu <span class="p-error">&nbsp;(*)&nbsp; </span> yêu
            cầu bắt buộc nhập
        </div>
        <div class="grid formgrid">
            <div class="col-12 md:col-12" for="cauTraLoi">
                <label htmlfor="cauTraLoi"
                    >Câu trả lời <span class="p-error"> (*)</span>:</label
                >
                <label for="">
                  <textarea rows="4" cols="30" class="my-drop" required=""  [(ngModel)]="cauTraLoi" placeholder="Trả lời"
                        pInputTextarea></textarea>
                    <span class="p-error" *ngIf="submitted && cauTraLoi === ''"
                        >Vui lòng nhập câu trả lời</span
                    >
                </label>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            type="submit"
            label="Info"
            class="p-element p-ripple p-button-info p-button p-component"
            ng-reflect-label="Info"
            (click)="TraLoi()"
        >
            <span class="p-button-label">Lưu</span><span class="p-ink"></span>
        </button>
        <button
            pbutton=""
            pripple=""
            type="button"
            label="Info"
            class="p-element p-ripple p-button-danger p-button p-component"
            ng-reflect-label="Danger"
            (click)="Thoat()"
        >
            <span class="p-button-label">Hủy</span><span class="p-ink"></span>
        </button>
    </ng-template>
</p-dialog>
