<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 mh-307">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-blue-500 uppercase font-medium mb-3"
                        >Văn bản nhận</span
                    >
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-file-import text-blue-500 text-xl"></i>
                </div>
            </div>
            <div class="box-notification">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/van-ban-den/van-ban-lien-thong-chinh-phu"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản liên thông Chính phủ</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{
                                    thongTinThongKe?.countVanBanDenLienThongChinhPhu
                                }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;">
                            <span class="text-500"
                                ><i
                                    class="pi pi-directions text-green-500"
                                    routerLink="/van-ban-den/tiep-nhan-van-ban"
                                ></i
                                >&nbsp;Văn bản chờ tiếp nhận</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{
                                    thongTinThongKe?.countVanBanDenChoTiepNhan
                                }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/van-ban-den/van-ban-cho-thu-hoi"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản chờ thu hồi</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countVanBanDenChoThuHoi }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/van-ban-den/but-phe-van-ban"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản chờ chỉ đạo</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countVanBanDenChoChiDao }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/van-ban-den/van-ban-den-lien-quan"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản đến liên quan</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countVanBanDenLienQuan }}
                            </span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 mh-307">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-blue-500 uppercase font-medium mb-3"
                        >Văn bản đi</span
                    >
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-file-export text-orange-500 text-xl"></i>
                </div>
            </div>
            <div class="box-notification">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/ky-so/duyet-van-ban-trinh-ky"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản chờ duyệt</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTrinhKyChoDuyet }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/ky-so/duyet-van-ban-trinh-ky"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản ký số chờ duyệt</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTrinhKyChoDuyet }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/ky-so/van-ban-cho-ky-so"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Văn bản chờ ký số</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTrinhKyChoKy }}
                            </span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 mh-307">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-blue-500 uppercase font-medium mb-3"
                        >Trao đổi thông tin</span
                    >
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-red-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-envelope text-red-500 text-xl"></i>
                </div>
            </div>
            <div class="box-notification">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/trao-doi-thong-tin/hop-thu-den"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Trao đổi đến (chưa xem)</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTraoDoiDen }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/trao-doi-thong-tin/hop-thu-di"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Trao đổi đi</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTraoDoiDi }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a
                            href="javascript:;"
                            routerLink="/trao-doi-thong-tin/hop-thu-nhap"
                        >
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Thư nháp</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countTraoDoiNhap }}
                            </span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 mh-307">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-blue-500 uppercase font-medium mb-3"
                        >Công việc</span
                    >
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-yellow-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-desktop text-yellow-500 text-xl"></i>
                </div>
            </div>
            <div class="box-notification">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="javascript:;" (click)="navigateToCongViec(1)">
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Công việc chỉ đạo</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countCongViecChiDao }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;" (click)="navigateToCongViec(2)">
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Công việc chủ trì</span
                            >
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countCongViecChuTri }}
                            </span></a
                        >
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;" (click)="navigateToCongViec(3)">
                            <span class="text-500"
                                ><i class="pi pi-directions text-green-500"></i
                                >&nbsp;Công việc phối hợp
                            </span>
                            <span class="text-light badge badge-danger"
                                >{{ thongTinThongKe?.countCongViecPhoiHop }}
                            </span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-8">
        <div class="card">
            <h5>Tiến độ công việc</h5>
            <div class="field grid">
                <label class="col-12 md:col-5 fl-wr">
                    <p-calendar
                        [(ngModel)]="timKiemCongViecDashBoard.tuNgay"
                        dateFormat="dd/mm/yy"
                        placeholder="Từ ngày"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-calendar>
                </label>
                <label class="col-12 md:col-5 fl-wr">
                    <p-calendar
                        [(ngModel)]="timKiemCongViecDashBoard.denNgay"
                        dateFormat="dd/mm/yy"
                        placeholder="Đến ngày"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-calendar>
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <button
                        pButton
                        pRipple
                        label=""
                        icon="pi pi-search"
                        class="p-button-info mr-2"
                        (click)="initChart()"
                    ></button>
                </label>
            </div>
            <p-table
                [value]="lstCongViec"
                [paginator]="true"
                styleClass="p-datatable-gridlines"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20, 30]"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Công việc</th>
                        <th>Trạng thái</th>
                        <th>Xem</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td style="width: 2%; min-width: 5rem">
                            {{ rowIndex + 1 }}
                        </td>
                        <td style="width: 45%; min-width: 10rem">
                            {{ item.noiDungCongViec }}
                        </td>
                        <td style="width: 15%; min-width: 5rem">
                            {{ item.trangThai }}
                        </td>
                        <td style="width: 15%">
                            <button
                                pButton
                                pRipple
                                routerLink="{{ routerLinkCongViec }}"
                                type="button"
                                icon="pi pi-search"
                                class="p-button p-component p-button-text p-button-icon-only"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">No record found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 xl:col-4">
        <div class="card">
            <h5>Thống kê công việc theo biểu đồ</h5>
            <p-chart
                *ngIf="lstCongViec.length > 0"
                type="polarArea"
                [data]="chartData"
                [options]="chartOptions"
            ></p-chart>
            <span *ngIf="lstCongViec.length == 0">No record found.</span>
        </div>
        <div class="card">
            <h5>Thống kê công việc theo tiến độ</h5>
            <span *ngIf="lstTienDo.length == 0">No record found.</span>
            <ul class="list-none p-0 m-0">
                <li
                    *ngFor="let item of lstTienDo"
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{
                            item.key
                        }}</span>
                    </div>
                    <div
                        class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center"
                    >
                        <div
                            class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{ height: '8px' }"
                        >
                            <div
                                class="h-full"
                                [ngStyle]="{ 'width.%': item.value }"
                                [ngClass]="getColor(item.code, 'bg')"
                            ></div>
                        </div>
                        <span
                            class="ml-3 font-medium"
                            [ngClass]="getColor(item.code, 'text')"
                            >{{ item.value }}%</span
                        >
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 md:col-12 xl:col-12">
        <div class="card">
            <p-tabView (onChange)="clickCalendar($event)">
                <p-tabPanel header="Lịch công tác ngày {{ currentDate }}">
                    <div class="table-container">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Thời gian</th>
                                    <th>Nội dung</th>
                                    <th>Địa điểm</th>
                                    <th>Lãnh đạo chủ trì</th>
                                    <th>Lãnh đạo văn phòng</th>
                                    <th>Đơn vị chuẩn bị</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngIf="
                                        lstLichCoQuanSang &&
                                        lstLichCoQuanSang.length > 0
                                    "
                                >
                                    <ng-container
                                        *ngFor="
                                            let objLicPB of lstLichCoQuanSang;
                                            let i = index
                                        "
                                    >
                                        <ng-container
                                            *ngIf="i === 0; else lichSang"
                                        >
                                            <tr>
                                                <td
                                                    [attr.rowspan]="
                                                        getSoLichCongTac(
                                                            lstLichCoQuanSang.length,
                                                            lstLichCoQuanChieu.length
                                                        )
                                                    "
                                                >
                                                    {{ currentDay }},
                                                    {{ currentDate }}
                                                </td>
                                                <td
                                                    class="valign-middle"
                                                    [attr.rowspan]="
                                                        lstLichCoQuanSang.length
                                                    "
                                                >
                                                    Sáng
                                                </td>
                                                <td
                                                    class="valign-middle"
                                                    [style]="{
                                                        'min-width': '25%'
                                                    }"
                                                >
                                                    {{ objLicPB.noiDung }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.diaDiem }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.lanhDaoChuTri }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{
                                                        objLicPB.lanhDaoVanPhong
                                                    }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.donViChuanBi }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #lichSang>
                                            <tr>
                                                <td class="valign-middle">
                                                    {{ objLicPB.noiDung }}
                                                </td>
                                                <td
                                                    class="valign-middle"
                                                    [style]="{
                                                        'min-width': '25%'
                                                    }"
                                                >
                                                    {{ objLicPB.diaDiem }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.lanhDaoChuTri }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{
                                                        objLicPB.lanhDaoVanPhong
                                                    }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.donViChuanBi }}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                                <tr
                                    *ngIf="
                                        !(
                                            lstLichCoQuanSang &&
                                            lstLichCoQuanSang.length > 0
                                        )
                                    "
                                >
                                    <td
                                        [attr.rowspan]="
                                            getSoLichCongTac(
                                                lstLichCoQuanSang.length,
                                                lstLichCoQuanChieu.length
                                            )
                                        "
                                    >
                                        {{ currentDay }},
                                        {{ currentDate }}
                                    </td>
                                    <td rowspan="1" class="valign-middle">
                                        Sáng
                                    </td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                </tr>
                                <ng-container
                                    *ngIf="
                                        lstLichCoQuanChieu &&
                                        lstLichCoQuanChieu.length > 0
                                    "
                                >
                                    <ng-container
                                        *ngFor="
                                            let objLicPB of lstLichCoQuanChieu;
                                            let j = index
                                        "
                                    >
                                        <ng-container
                                            *ngIf="j === 0; else lichChieu"
                                        >
                                            <tr>
                                                <td
                                                    class="valign-middle"
                                                    [attr.rowspan]="
                                                        lstLichCoQuanChieu.length
                                                    "
                                                >
                                                    Chiều
                                                </td>
                                                <td
                                                    class="valign-middle"
                                                    [style]="{
                                                        'min-width': '25%'
                                                    }"
                                                >
                                                    {{ objLicPB.noiDung }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.diaDiem }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.lanhDaoChuTri }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{
                                                        objLicPB.lanhDaoVanPhong
                                                    }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.donViChuanBi }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #lichChieu>
                                            <tr>
                                                <td class="valign-middle">
                                                    {{ objLicPB.noiDung }}
                                                </td>
                                                <td
                                                    class="valign-middle"
                                                    [style]="{
                                                        'min-width': '25%'
                                                    }"
                                                >
                                                    {{ objLicPB.diaDiem }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.lanhDaoChuTri }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{
                                                        objLicPB.lanhDaoVanPhong
                                                    }}
                                                </td>
                                                <td class="valign-middle">
                                                    {{ objLicPB.donViChuanBi }}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                                <tr
                                    *ngIf="
                                        !(
                                            lstLichCoQuanChieu &&
                                            lstLichCoQuanChieu.length > 0
                                        )
                                    "
                                >
                                    <td rowspan="1" class="valign-middle">
                                        Chiều
                                    </td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                    <td class="valign-middle"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p-tabPanel>

                <p-tabPanel
                    header="Lịch công tác tuần {{ currentWeek }} ({{
                        startOfWeek
                    }} - {{ endOfWeek }} )"
                >
                    <div class="table-container">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Thời gian</th>
                                    <th>Nội dung</th>
                                    <th>Địa điểm</th>
                                    <th>Lãnh đạo chủ trì</th>
                                    <th>Lãnh đạo văn phòng</th>
                                    <th>Đơn vị chuẩn bị</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="
                                        let item of lstLichCoQuanTuan;
                                        let i = index
                                    "
                                >
                                    <ng-container
                                        *ngIf="
                                            item?.lstCoQuanTuanSang &&
                                            item?.lstCoQuanTuanSang.length > 0
                                        "
                                    >
                                        <ng-container
                                            *ngFor="
                                                let objLicPB of item?.lstCoQuanTuanSang;
                                                let i = index
                                            "
                                        >
                                            <ng-container
                                                *ngIf="i === 0; else lichSang"
                                            >
                                                <tr>
                                                    <td
                                                        [attr.rowspan]="
                                                            getSoLichCongTac(
                                                                item
                                                                    .lstCoQuanTuanSang
                                                                    .length,
                                                                item
                                                                    .lstCoQuanTuanChieu
                                                                    .length
                                                            )
                                                        "
                                                    >
                                                        {{ item?.thu }}
                                                    </td>
                                                    <td
                                                        class="valign-middle"
                                                        [attr.rowspan]="
                                                            item
                                                                ?.lstCoQuanTuanSang
                                                                .length
                                                        "
                                                    >
                                                        Sáng
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.noiDung }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.diaDiem }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoChuTri
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoVanPhong
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.donViChuanBi
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <ng-template #lichSang>
                                                <tr>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.noiDung }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.diaDiem }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoChuTri
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoVanPhong
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.donViChuanBi
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                    <tr
                                        *ngIf="
                                            !(
                                                item?.lstCoQuanTuanSang &&
                                                item?.lstCoQuanTuanSang.length >
                                                    0
                                            )
                                        "
                                    >
                                        <td
                                            [attr.rowspan]="
                                                getSoLichCongTac(
                                                    item.lstCoQuanTuanSang
                                                        .length,
                                                    item.lstCoQuanTuanChieu
                                                        .length
                                                )
                                            "
                                        >
                                            {{ item?.thu }}
                                        </td>
                                        <td rowspan="1" class="valign-middle">
                                            Sáng
                                        </td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                    </tr>
                                    <ng-container
                                        *ngIf="
                                            item?.lstCoQuanTuanChieu &&
                                            item?.lstCoQuanTuanChieu.length > 0
                                        "
                                    >
                                        <ng-container
                                            *ngFor="
                                                let objLicPB of item?.lstCoQuanTuanChieu;
                                                let j = index
                                            "
                                        >
                                            <ng-container
                                                *ngIf="j === 0; else lichChieu"
                                            >
                                                <tr>
                                                    <td
                                                        class="valign-middle"
                                                        [attr.rowspan]="
                                                            item
                                                                ?.lstCoQuanTuanChieu
                                                                .length
                                                        "
                                                    >
                                                        Chiều
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.noiDung }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.diaDiem }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoChuTri
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoVanPhong
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.donViChuanBi
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <ng-template #lichChieu>
                                                <tr>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.noiDung }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{ objLicPB.diaDiem }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoChuTri
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.lanhDaoVanPhong
                                                        }}
                                                    </td>
                                                    <td class="valign-middle">
                                                        {{
                                                            objLicPB.donViChuanBi
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                    <tr
                                        *ngIf="
                                            !(
                                                item?.lstCoQuanTuanChieu &&
                                                item?.lstCoQuanTuanChieu
                                                    .length > 0
                                            )
                                        "
                                    >
                                        <td rowspan="1" class="valign-middle">
                                            Chiều
                                        </td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                        <td class="valign-middle"></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Lịch công tác {{ headerCalendar }}">
                    <div class="card">
                        <full-calendar
                            #fullcalendar
                            [options]="calendarOptions"
                        ></full-calendar>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<p-dialog
    header="Chi tiết cuộc họp"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="true"
    [resizable]="false"
    [dismissableMask]="true"
>
    <div *ngIf="eventDetails">
        <h3>{{ eventDetails.title }}</h3>
        <p><b>Thời gian:</b> {{ eventDetails.start | date : "dd/MM/yyyy hh:mm a" }}</p>
    </div>
</p-dialog>
