<p-dialog [(visible)]="show" (onShow)="BindDataDialog()" [draggable]="true" [resizable]="false" (onHide)="Thoat()"
    [style]="{width: '950px'}" [modal]="true" header="Chi tiết thông báo" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12">
                <p-table [value]="[xemThongBao]"  class="custom-table">
                    <ng-template pTemplate="body" let-xemThongBao>
                      <tr>
                        <td class="custom-rb"><strong>Tiêu đề:</strong></td>
                        <td class="custom-b">{{xemThongBao.tieuDe}}</td>
                      </tr>
                      <tr>
                        <td class="custom-rb"><strong>Ngày bắt đầu:</strong></td>
                        <td class="custom-b">{{xemThongBao.ngayBatDau | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <td class="custom-rb"><strong>Ngày hết hạn:</strong></td>
                        <td class="custom-b">{{xemThongBao.ngayKetThuc | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                      <tr>
                        <td class="custom-rb"><strong>Người tạo:</strong></td>
                        <td class="custom-b">{{xemThongBao.tenNguoiTao}}</td>
                      </tr>
                      <tr>
                        <td class="custom-rb"><strong>File đính kèm:</strong></td>
                        <td class="custom-b"><a href="javascript:;" (click)="downloadFile()">{{xemThongBao.dataFileName}}</a></td>
                      </tr>
                      <tr>
                        <td class="custom-r"><strong>Nội dung:</strong></td>
                        <td ><span [innerHTML]="xemThongBao.noiDung"></span></td>
                      </tr>
                    </ng-template>
                  </p-table>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
       <button pbutton="" pripple="" type="button" label="Info"
            class="p-element p-ripple p-button-danger p-button p-component" ng-reflect-label="Danger"
            (click)="Thoat()"><span class="p-button-label">Hủy</span><span class="p-ink"></span></button>
    </ng-template>
</p-dialog>
