<div class="grid">
    <div class="col-12">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}" routerLink="/"></p-breadcrumb>
    </div>
    <div class="col-12 pt-0">
        <p-toast></p-toast>
        <div class="card pt-4 pb-0 pl-4 pr-4 mb-3">
            <h2>Tìm kiếm</h2>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-8">
                    <input id="search-name-title" type="text" pInputText [(ngModel)]="search.keyWord"
                        (keydown)="enterSearchRecord($event)" placeholder="Tên loại hồ sơ">
                </div>
                <div class="field col-12 md:col-2 mt-2">
                    <div class="field-checkbox">
                        <p-checkbox name="vehicle1" value="Tìm chính xác" [(ngModel)]="valCheck"
                            id="vehicle1"></p-checkbox>
                        <label for="vehicle1">Tìm chính xác</label>
                    </div>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton pRipple label="Tìm kiếm" icon="pi pi-search" class="p-button-info mr-2"
                        (click)="searchRecord()"></button>
                </div>
            </div>
        </div>

        <div class="card pb-0 pl-4 pr-4">
            <div class="wrapper">
                <h2>DANH SÁCH LĨNH VỰC</h2>
                <div class="icon-cls">
                    <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success"
                        (click)="openNew()">
                    </button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table styleClass="p-datatable-gridlines" #dt [value]="listRecords" [columns]="cols"
                        responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center;" pSortableColumn="STT">STT <p-sortIcon
                                        field="STT"></p-sortIcon>
                                </th>
                                <th pSortableColumn="maHs">Mã<p-sortIcon field="maHs"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tenLoaiHoSo">Tên loại hồ sơ<p-sortIcon
                                        field="tenLoaiHoSo"></p-sortIcon>
                                </th>
                                <th style="text-align: center;" pSortableColumn="soHshienTai">Số hiện tại<p-sortIcon
                                        field="soHshienTai"></p-sortIcon>
                                </th>
                                <th style="text-align: center;" pSortableColumn="soHstruoc">Số năm trước<p-sortIcon
                                        field="soHstruoc"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">Chức năng
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-listRecord let-rowIndex="rowIndex">
                            <tr>
                                <td style="width:8%; min-width:10rem; text-align: center;"><span
                                        class="p-column-title">STT</span>
                                    {{rowIndex + 1}}
                                </td>
                                <td style="width:13%; min-width:10rem;">
                                    <span class="p-column-title">Mã</span>
                                    {{listRecord.maHs}}
                                </td>
                                <td style="width:30%; min-width:10rem;">
                                    <span class="p-column-title">Tên loại hồ sơ</span>
                                    {{listRecord.tenLoaiHoSo}}
                                </td>
                                <td style="width:30%; min-width:8rem; text-align: center;">
                                    <span class="p-column-title">Số hiện tại</span>
                                    {{listRecord.soHshienTai}}
                                </td>
                                <td style="width:10%; min-width:10rem; text-align: center;">
                                    <span class="p-column-title">Số năm trước</span>
                                    {{listRecord.soHstruoc}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <div class="flex justify-content-center">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="editRecord(listRecord.id)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"
                                            (click)="deleteRecord(listRecord.id)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <app-them-moi [show]="showCreated" (close)="closePopup($event, 'C')"></app-them-moi>

        <app-cap-nhat [show]="hienThiCapNhat" (close)="closePopup($event, 'U')" [id]="idLoaiHoSo"></app-cap-nhat>

        <p-dialog [(visible)]="deleteProductDialog" header="Xác nhận" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="listRecord">Bạn muốn xóa bản ghi này ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-info" label="Xóa"
                    (click)="confirmDelete()"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-danger" label="Hủy"
                    (click)="cancelDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>