<form [formGroup]="formXuLy">
    <p-dialog
        appendTo="body"
        header="Yêu cầu cấp lại mật khẩu"
        (onHide)="Thoat()"
        [(visible)]="show"
        [modal]="true"
        [style]="{ width: '450px' }"
        [draggable]="true"
        [resizable]="false"
    >
        <ng-template pTemplate="content">
            <div class="field grid div-center">
                <div class="col-12 md:col-12 div-center">
                    <label for="" class="p-error"
                        >Nhập chính xác thông tin</label
                    >
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12 fl-wr">
                    <label for="hoVaTen"
                        >Họ và tên <span class="p-error">(*)</span>:</label
                    >
                    <input
                        pinputtext=""
                        id="hoVaTen"
                        type="text"
                        required=""
                        class="p-inputtext p-component p-element form-control"
                        formControlName="hoVaTen"
                    />
                    <span
                        class="p-error"
                        *ngIf="
                            !formXuLy.controls.hoVaTen.valid &&
                            (formXuLy.controls.hoVaTen.touched || submitted)
                        "
                        >Vui lòng nhập họ và tên</span
                    >
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12 fl-wr">
                    <label for="userName"
                        >Tên đăng nhập <span class="p-error">(*)</span>:</label
                    >
                    <input
                        pinputtext=""
                        id="userName"
                        type="text"
                        required=""
                        class="p-inputtext p-component p-element form-control"
                        formControlName="userName"
                    />
                    <span
                        class="p-error"
                        *ngIf="
                            !formXuLy.controls.userName.valid &&
                            (formXuLy.controls.userName.touched || submitted)
                        "
                        >Vui lòng nhập tên đăng nhập</span
                    >
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12 fl-wr">
                    <label for="soDienThoai">Số điện thoại:</label>
                    <input
                        pinputtext=""
                        id="soDienThoai"
                        type="text"
                        class="p-inputtext p-component p-element form-control"
                        formControlName="soDienThoai"
                    />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                (click)="Gui()"
                type="submit"
                pbutton=""
                pripple=""
                label="Tìm kiếm"
                icon="pi pi-send"
                class="p-element p-ripple p-button p-component"
            >
                <span
                    class="p-button-icon p-button-icon-left pi pi-check"
                    aria-hidden="true"
                ></span>
                <span class="p-button-label">Gửi</span>
                <span class="p-ink"></span>
            </button>
            <button
                pbutton=""
                pripple=""
                label="Thoát"
                icon="pi pi-times"
                class="p-element p-ripple p-button p-component p-button-danger"
                (click)="Thoat()"
            >
                <span
                    class="p-button-icon p-button-icon-left pi pi-times"
                    aria-hidden="true"
                ></span>
                <span class="p-button-label">Thoát</span>
                <span class="p-ink"></span>
            </button>
        </ng-template>
    </p-dialog>
</form>
