<p-dialog
    [(visible)]="show"
    [draggable]="true"
    [resizable]="false"
    (onHide)="Thoat()"
    (onShow)="BindDialogData()"
    [style]="{ width: '1500px' }"
    [modal]="true"
    header="Báo cáo tiến độ"
>
    <ng-template pTemplate="content">
        <div class="chiTiet">
            <div class="field grid">
                <div class="col-12 md:col-9">
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [value]="[baoCaoTienDos]"
                        class="custom-table"
                    >
                        <ng-template pTemplate="body" let-baoCaoTienDo>
                            <tr>
                                <td class="">
                                    <strong>Số kí hiệu:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.soKiHieu }}
                                </td>
                                <td class="">
                                    <strong>Trích yếu:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.trichYeu }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <strong>Nội dung công việc:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.noiDungCongViec }}
                                </td>
                                <td class="">
                                    <strong>Người xử lý/Phân cấp:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.nguoiXuLy }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <strong
                                        >Thời gian thực hiện dự kiến:</strong
                                    >
                                </td>
                                <td class="">
                                    <strong>Từ ngày: </strong>
                                    <span class="info">
                                        {{
                                            baoCaoTienDo?.tuNgay
                                                | date : "dd/MM/yyyy"
                                        }}</span
                                    >
                                </td>
                                <td class="" colspan="2">
                                    <strong>Đến ngày: </strong>
                                    {{
                                        baoCaoTienDo?.denNgay
                                            | date : "dd/MM/yyyy"
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <strong> Người chỉ đạo:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.chiDao }}
                                </td>
                                <td class="">
                                    <strong> Người chỉ trì:</strong>
                                </td>
                                <td class="">
                                    {{ baoCaoTienDo?.chuTri }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <strong>
                                        Phối hợp thực hiện (
                                        <span class="info">{{
                                            baoCaoTienDo?.countDongChiPhoiHop
                                        }}</span>
                                        đ/c)</strong
                                    >
                                </td>
                                <td class="">
                                    <p-table
                                        [paginator]="false"
                                        [value]="
                                            baoCaoTienDo?.lstDongChiPhoiHop
                                        "
                                        dataKey="id"
                                        [rowHover]="true"
                                        styleClass="p-datatable-gridlines"
                                        responsiveLayout="scroll"
                                    >
                                        <ng-template
                                            pTemplate="body"
                                            let-phoiHop
                                            let-rowIndex="rowIndex"
                                        >
                                            <tr>
                                                <td class="">
                                                    {{ phoiHop.text }}
                                                </td>
                                                <td>
                                                    <span class="info">
                                                        {{
                                                            phoiHop.trangThai
                                                        }}</span
                                                    >
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="15">0 đ/c</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="loadingbody">
                                            <tr>
                                                <td colspan="15">
                                                    Loading record data. Please
                                                    wait.
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </td>
                                <td class="">
                                    <strong>
                                        Thông báo để biết (
                                        <span class="info">{{
                                            baoCaoTienDo?.countDongChiThongBao
                                        }}</span>
                                        đ/c)
                                    </strong>
                                </td>
                                <td class="">
                                    <p-table
                                        [paginator]="false"
                                        [value]="
                                            baoCaoTienDo?.lstDongChiThongBao
                                        "
                                        dataKey="id"
                                        [rowHover]="true"
                                        styleClass="p-datatable-gridlines"
                                        responsiveLayout="scroll"
                                    >
                                        <ng-template
                                            pTemplate="body"
                                            let-thongBao
                                            let-rowIndex="rowIndex"
                                        >
                                            <tr>
                                                <td class="">
                                                    {{ thongBao.text }}
                                                </td>
                                                <td>
                                                    <span class="info">
                                                        {{
                                                            thongBao.trangThai
                                                        }}</span
                                                    >
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="15">0 đ/c</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="loadingbody">
                                            <tr>
                                                <td colspan="15">
                                                    Loading record data. Please
                                                    wait.
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </td>
                            </tr>
                            <tr>
                                <td class="" colspan="4">
                                    <strong>
                                        NHẬP CÁC THÔNG TIN XỬ LÝ CỦA CÁ NHÂN
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <strong>File văn bản:</strong>
                                </td>
                                <td class="">
                                    <ul>
                                        <li *ngFor="let file of selectedFiles">
                                            <span
                                                *ngIf="file.isDelete == false"
                                            >
                                                <a
                                                    (click)="
                                                        DownloadFile(
                                                            file.filePath,
                                                            file.fileName
                                                        )
                                                    "
                                                    href="javascript:;"
                                                    >{{ file.fileName }}</a
                                                ><a
                                                    href="javascript:;"
                                                    (click)="
                                                        XoaFile(file.filePath)
                                                    "
                                                    >&nbsp;<i
                                                        class="pi pi-trash"
                                                    ></i
                                                ></a>
                                            </span>
                                        </li>
                                    </ul>
                                </td>
                                <td class="">
                                    <strong>File công việc:</strong>
                                </td>
                                <td class="">
                                    <ul>
                                        <li *ngFor="let file of selectedFiles">
                                            <span
                                                *ngIf="file.isDelete == false"
                                            >
                                                <a
                                                    (click)="
                                                        DownloadFile(
                                                            file.filePath,
                                                            file.fileName
                                                        )
                                                    "
                                                    href="javascript:;"
                                                    >{{ file.fileName }}</a
                                                ><a
                                                    href="javascript:;"
                                                    (click)="
                                                        XoaFile(file.filePath)
                                                    "
                                                    >&nbsp;<i
                                                        class="pi pi-trash"
                                                    ></i
                                                ></a>
                                            </span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <strong
                                        >CHI TIẾT KẾT QUẢ THỰC HIỆN CÔNG VIỆC
                                        CỦA CÁC CÁ NHÂN</strong
                                    >
                                </td>
                            </tr>
                            <td colspan="4">
                                <p-table
                                    [paginator]="false"
                                    [value]="lstChonVanBan"
                                    dataKey="id"
                                    [rowHover]="true"
                                    class="my-drop"
                                    styleClass="p-datatable-gridlines"
                                    responsiveLayout="scroll"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 2%">
                                                <div
                                                    class="flex justify-content-between align-baoCaoTienDo?s-center"
                                                >
                                                    STT
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem">
                                                <div
                                                    class="flex justify-content-between align-baoCaoTienDo?s-center"
                                                >
                                                    Số ký hiệu
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem">
                                                <div
                                                    class="flex justify-content-between align-baoCaoTienDo?s-center"
                                                >
                                                    Trích yếu
                                                </div>
                                            </th>
                                            <th style="min-width: 10rem">
                                                <div
                                                    class="flex justify-content-between align-baoCaoTienDo?s-center"
                                                >
                                                    Xóa
                                                </div>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template
                                        pTemplate="body"
                                        let-vanBan
                                        let-rowIndex="rowIndex"
                                    >
                                        <tr>
                                            <td style="text-align: center">
                                                {{ rowIndex + 1 }}
                                            </td>
                                            <td>
                                                {{ vanBan.soKiHieu }}
                                            </td>
                                            <td>
                                                {{ vanBan.trichYeu }}
                                            </td>
                                            <td>Xóa</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="15">
                                                No record found.
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="loadingbody">
                                        <tr>
                                            <td colspan="15">
                                                Loading record data. Please
                                                wait.
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12 md:col-3">
                  <div class="chat-container">
                        <!-- Header "Trao đổi" -->
                        <div class="chat-header">
                          <h3>Trao đổi</h3>
                          <hr />
                        </div>
                      
                        <!-- Container chứa ảnh cá nhân và khung chat -->
                        <div class="chat-content">
                          <!-- Block chứa icon và khung comment -->
                          <div class="comment-block">
                            <!-- Icon hình người (15-20%) -->
                            <div class="avatar-container">
                              <!-- Thêm ảnh cá nhân của người dùng -->
                              {{'Tên tài khoản'}}
                            </div>
                      
                            <!-- Khung comment (80-85%) -->
                            <div class="comment-frame">
                              <!-- Nội dung comment -->
                      
                              <!-- Input comment -->
                              <div class="input-container">
                                <div class="flex-container">
                                  <textarea placeholder="Nhập comment..."></textarea>
                                  <button><i class="pi pi-send"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="div-center">
            <button
                pbutton=""
                pripple=""
                type="submit"
                label="Info"
                class="p-element p-ripple p-button-info p-button p-component"
                ng-reflect-label="Info"
                (click)="ChonHoSo()"
            >
                <span class="p-button-label">Lưu</span
                ><span class="p-ink"></span></button
            >&nbsp;
            <button
                pbutton=""
                pripple=""
                label="Info"
                class="p-element p-ripple p-button-danger p-button p-component"
                ng-reflect-label="Info"
                (click)="Thoat()"
            >
                <span class="p-button-label">Thoát</span
                ><span class="p-ink"></span>
            </button>
        </div>
    </ng-template>
</p-dialog>
