.formgrid.grid > label{
    margin-bottom: 0.5rem;
}

.formgrid.grid {
    margin-bottom: 1rem;
  }

  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 250px;
}


.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-file-upload i {
  margin-right: 5px;
}