<div class="grid">
    <div class="col-12">
        <p-breadcrumb
            [model]="breadcrumbItems"
            [home]="{ icon: 'pi pi-home' }"
            routerLink="/"
        ></p-breadcrumb>
    </div>
    <div class="col-12 pt-0">
        <p-toast></p-toast>
        <div class="card pt-4 pb-0 pl-4 pr-4 mb-3">
            <h2>Tìm kiếm</h2>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <input
                        pInputText
                        [(ngModel)]="timKiemDanhSach.vanban"
                        class="form-control"
                        id="search-name-title"
                        type="text"
                        placeholder="Thông tin văn bản"
                    />
                </div>
                <div class="field col-12 md:col-2">
                    <input
                        id="search-name-title"
                        type="text"
                        pInputText
                        placeholder="Số, ký hiệu"
                        [(ngModel)]="timKiemDanhSach.sokihieu"
                    />
                </div>
                <div class="field col-12 md:col-2">
                    <p-dropdown
                        [options]="luaChonNam"
                        placeholder="Chọn năm"
                        [(ngModel)]="timKiemDanhSach.nam"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-2">
                    <p-dropdown
                        [options]="luaChonThang"
                        placeholder="Chọn tháng"
                        [(ngModel)]="timKiemDanhSach.thang"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-2 mt-2">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="timChinhXac"
                            id="timChinhXac"
                            value="true"
                            label="Tìm chính xác"
                            (click)="TimChinhXac()"
                        ></p-checkbox>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="hienThi">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-3">
                        <p-calendar
                            dateFormat="dd/mm/yy"
                            placeholder="Ngày ban hành"
                            [(ngModel)]="timKiemDanhSach.ngayBanHanh"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-calendar
                            dateFormat="dd/mm/yy"
                            placeholder="Ngày gửi"
                            [(ngModel)]="timKiemDanhSach.ngayGui"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="lstLoaiVanBan"
                            placeholder="Chọn loại văn bản"
                            optionValue="value"
                            optionLabel="text"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="lstSoVanBan"
                            optionValue="value"
                            optionLabel="text"
                            placeholder="Chọn sổ văn bản"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-3">
                        <input
                            id="search-name-title"
                            type="text"
                            pInputText
                            placeholder="Trích yếu"
                            [(ngModel)]="timKiemDanhSach.trichYeu"
                        />
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="luaChonTrangThai"
                            [(ngModel)]="timKiemDanhSach.trangThai"
                            placeholder="Chọn trạng thái"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="luaChonMucDo"
                            [(ngModel)]="timKiemDanhSach.mucDo"
                            placeholder="Chọn mức độ trạng thái"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <input
                            id="search-name-title"
                            type="text"
                            pInputText
                            placeholder="Số đi"
                            [(ngModel)]="timKiemDanhSach.soDi"
                        />
                    </div>
                </div>
            </ng-container>

            <div class="p-fluid p-formgrid grid justify-content-between">
                <div class="field col-12 md:col-2">
                    <button
                        pButton
                        pRipple
                        label="Tìm kiếm"
                        icon="pi pi-search"
                        class="p-button-info mr-2"
                        (click)="TimKiem(timKiemDanhSach)"
                    ></button>
                </div>
                <div class="field col-12 md:col-2 my-show-and-hide">
                    <a
                        (click)="HienThiTimKiem()"
                        [class]="iconButton"
                        class="p-button-info mr-2"
                        >{{ trangThaiButton }}</a
                    >
                </div>
            </div>
        </div>

        <div class="card pb-0 pl-4 pr-4">
            <div class="wrapper">
                <h2>DANH SÁCH LOẠI VĂN BẢN</h2>
                <div class="icon-cls">
                    <button
                        pButton
                        pRipple
                        label="Thêm mới"
                        icon="pi pi-plus"
                        class="p-button-success"
                    ></button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table
                        styleClass="p-datatable-gridlines"
                        #dt
                        [value]="danhSachVanBanDen"
                        [columns]="cols"
                        responsiveLayout="scroll"
                        [rows]="10"
                        [paginator]="true"
                        [rowsPerPageOptions]="[10, 20, 30]"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center">STT</th>
                                <th>Số ký hiệu</th>
                                <th>Trích yếu</th>
                                <th style="text-align: center">Số đi</th>
                                <th style="text-align: center">
                                    Ngày ban hành
                                </th>
                                <th>Loại văn bản nghiệp vụ</th>
                                <th>Trạng thái</th>
                                <th>Trạng thái gửi</th>
                                <th style="text-align: center">Chức năng</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-vanBanDen
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td
                                    style="
                                        width: 5%;
                                        min-width: 4rem;
                                        text-align: center;
                                    "
                                >
                                    <span class="p-column-title">STT</span>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td style="width: 15%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Số ký hiệu</span
                                    >
                                    <a
                                        href="javascript:;"
                                        (click)="ChiTietVanBan(vanBanDen.id)"
                                        >{{ vanBanDen.soKiHieu }}</a
                                    >
                                    <!-- {{vanBanDen.soKiHieu}} -->
                                </td>
                                <td style="width: 20%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Trích yếu</span
                                    >
                                    {{ vanBanDen.trichYeu }}
                                </td>
                                <td
                                    style="
                                        width: 5%;
                                        min-width: 5rem;
                                        text-align: center;
                                    "
                                >
                                    <span class="p-column-title">Số đi</span>
                                    {{ vanBanDen.soDi }}
                                </td>
                                <td
                                    style="
                                        width: 10%;
                                        min-width: 8rem;
                                        text-align: center;
                                    "
                                >
                                    <span class="p-column-title"
                                        >Ngày ban hành</span
                                    >
                                    {{
                                        vanBanDen.ngayBanHanh
                                            | date : "dd-MM-yyyy"
                                    }}
                                </td>
                                <td style="width: 10%; min-width: 8rem">
                                    <span class="p-column-title"
                                        >Loại văn bản nghiệp vụ</span
                                    >
                                    {{ vanBanDen.trangThaiVanBan }}
                                </td>
                                <td style="width: 10%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Trạng thái</span
                                    >
                                    {{ vanBanDen.tenTrangThai }}
                                </td>
                                <td style="width: 10%; min-width: 8rem">
                                    <span class="p-column-title"
                                        >Trạng thái gửi</span
                                    >
                                    {{ vanBanDen.tenTrangThaiGuiDi }}
                                </td>

                                <!-- Load ra các nút -->
                                <!-- Trạng thái đầu tiên lấy ra chấp thuận và từ chối -->
                                <td style="width: 14%; min-width: 10rem">
                                    <!-- Mẫu -->
                                    <div class="flex justify-content-center">
                                        <!-- <button pButton pRipple pTooltip="Chấp nhận cập nhật" icon="pi pi-check"
                                            class="p-button-rounded p-button-success mr-2 my-size-icon">
                                        </button>
                                        <button pButton pRipple pTooltip="Từ chối cập nhật" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger mr-2 my-size-icon">
                                        </button>
                                        <button class="btn btn-xs btn-success btn-icon" data-toggle="tooltip"
                                            data-placement="top" pTooltip="Lịch sử" icon="pi pi-clock">
                                        </button> -->
                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Tiếp nhận"
                                            icon="pi pi-check"
                                            class="p-button-rounded p-button-success mr-2 my-size-icon"
                                            (click)="
                                                TiepNhanVanBan(vanBanDen.id)
                                            "
                                        ></button>

                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Từ chối"
                                            icon="pi pi-times"
                                            class="p-button-rounded p-button-danger mr-2 my-size-icon"
                                            (click)="
                                                TuChoiTiepNhan(vanBanDen.id)
                                            "
                                        ></button>

                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Chỉnh sửa văn bản"
                                            icon="pi pi-pencil"
                                            class="p-button-rounded p-button-primary mr-2 my-size-icon"
                                            (click)="SuaVanBan(vanBanDen.id)"
                                        ></button>

                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Xóa văn bản"
                                            icon="pi pi-trash"
                                            class="p-button-rounded p-button-primary mr-2 my-size-icon"
                                            (click)="XoaVanBan(vanBanDen.id)"
                                        ></button>

                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Phân phối văn bản"
                                            icon="pi pi-send"
                                            class="p-button-rounded p-button-warning mr-2 my-size-icon"
                                            (click)="
                                                PhanPhoiVanBan(vanBanDen.id)
                                            "
                                        ></button>

                                        <button
                                            pButton
                                            pRipple
                                            pTooltip="Tải văn bản"
                                            icon="pi pi-arrow-circle-down"
                                            class="p-button-rounded p-button-warning mr-2 my-size-icon"
                                            (click)="TaiVanBan(vanBanDen.id)"
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <app-tiep-nhan-van-ban
            [hienThi]="hienThiTiepNhan"
            (tatPopup)="Thoat($event, 'TN')"
            [idVb]="idVanBan"
        ></app-tiep-nhan-van-ban>

        <app-tu-choi
            [hienThi]="hienthiTuChoi"
            [id]="idVanBan"
            (tatPopup)="Thoat($event, 'TC')"
        ></app-tu-choi>

        <app-sua-van-ban
            [hienThi]="hienthiSuaVanBan"
            [id]="idVanBan"
            (tatPopup)="Thoat($event, 'SVB')"
        ></app-sua-van-ban>

        <app-sua-van-ban
            [hienThi]="hienthiSuaVanBan"
            [id]="idVanBan"
            (tatPopup)="Thoat($event, 'SVB')"
        ></app-sua-van-ban>

        <app-phan-phoi
            [hienThi]="hienthiPhanPhoi"
            [id]="idVanBan"
            (tatPopup)="Thoat($event, 'PP')"
        ></app-phan-phoi>

        <p-confirmDialog #cd [style]="{ width: '30vw' }">
            <ng-template pTemplate="header">
                <h3>Xác nhận</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pbutton=""
                    pripple=""
                    (click)="cd.accept()"
                    label="Đồng ý"
                    icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-info"
                >
                    <span
                        class="p-button-icon p-button-icon-left pi pi-check"
                        aria-hidden="true"
                    ></span>
                    <span class="p-button-label">Đồng ý</span>
                    <span class="p-ink"></span>
                </button>
                <button
                    pbutton=""
                    pripple=""
                    (click)="cd.reject()"
                    label="Hủy"
                    icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-danger"
                >
                    <span
                        class="p-button-icon p-button-icon-left pi pi-times"
                        aria-hidden="true"
                    ></span>
                    <span class="p-button-label">Hủy</span>
                    <span class="p-ink"></span>
                </button>
            </ng-template>
        </p-confirmDialog>

        <!-- <app-chi-tiet-van-ban [show]="hienThiChiTiet" (close)="tatPopup($event, 'C')" [idVb] = "idvanBanDen"></app-chi-tiet-van-ban> -->

        <!--<app-cap-nhat [show]="hienThiCapNhat" (close)="tatPopup($event, 'U')" [id]="idLoaiVanBan"></app-cap-nhat>-->

        <p-confirmDialog #cd [style]="{width: '30vw'}">
            <ng-template pTemplate="header">
                <h3>Xác nhận</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pbutton="" pripple="" (click)="cd.accept()" label="Đồng ý" icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-info">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">Đồng ý</span>
                    <span class="p-ink"></span>
                </button>
                <button pbutton="" pripple="" (click)="cd.reject()" label="Hủy" icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-danger">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">Hủy</span>
                    <span class="p-ink"></span>
                </button>
            </ng-template>
        </p-confirmDialog>
    </div>
</div>
