<p-dialog
    [(visible)]="show"
    [draggable]="true"
    [resizable]="false"
    (onHide)="ThoatChiTiet()"
    (onShow)="BindDialogData()"
    [style]="{ width: '1000px' }"
    [modal]="true"
    header="Chi tiết hộp thư"
>
    <ng-template pTemplate="header">
        <div
            class="inline-flex align-items-center justify-content-center gap-2"
        >
            <p-avatar
                image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png"
                shape="circle"
            />
            <span class="font-bold white-space-nowrap">Chi tiết hộp thư</span>
        </div>
        <div class="col-12" style="display: flex">
            <button
                *ngIf="btnPhanHoi"
                pbutton=""
                pripple=""
                type="submit"
                label="Info"
                class="p-element p-ripple p-button-info p-button p-component"
                ng-reflect-label="Info"
                (click)="XuLy(idHopThu)"
            >
                <span class="p-button-label"
                    ><i
                        class="{{
                            typebtn == 1 ? 'pi pi-refresh' : 'pi pi-send'
                        }}"
                    ></i>
                    {{ lblPhanHoi }}</span
                ><span class="p-ink"></span></button
            >&nbsp;
            <button
                *ngIf="btnChuyenTiep"
                pbutton=""
                pripple=""
                type="submit"
                label="Info"
                class="p-element p-ripple p-button-info p-button p-component"
                ng-reflect-label="Info"
                (click)="XuLy(idHopThu, 2)"
            >
                <span class="p-button-label"
                    ><i class="pi pi-send"></i>&nbsp;Chuyển tiếp</span
                ><span class="p-ink"></span></button
            >&nbsp;
            <button
                *ngIf="btnXemNguoiDoc"
                pbutton=""
                pripple=""
                label="Info"
                class="p-element p-ripple p-button-info p-button p-component"
                ng-reflect-label="Info"
                (click)="XemNguoiDoc(idHopThu)"
            >
                <span class="p-button-label"
                    ><i class="pi pi-check"></i>&nbsp;Xem người nhận đã đọc
                    chưa?</span
                ><span class="p-ink"></span>
            </button>
        </div>
        <hr />
    </ng-template>
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12">
                <p-table [value]="[xemHopThu]" class="custom-table">
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td class="custom-rb">
                                <strong>Thông tin người gửi:</strong>
                            </td>
                            <td class="custom-b">
                                {{ item.thongTinNguoiGui }}
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-rb"><strong>Gửi đến:</strong></td>
                            <td class="custom-b">{{ item.guiToi }}</td>
                        </tr>
                        <tr>
                            <td class="custom-rb"><strong>Tiêu đề:</strong></td>
                            <td class="custom-b">{{ item.tieuDe }}</td>
                        </tr>
                        <tr>
                            <td class="custom-rb">
                                <strong>Nội dung:</strong>
                            </td>
                            <td class="custom-b">
                                <span [innerHTML]="item.noiDung"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-rb">
                                <strong>Ngày gửi:</strong>
                            </td>
                            <td class="custom-b">
                                {{ item.ngayGui | date : "hh:mm dd/MM/yyyy" }}
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-r">
                                <strong>File đính kèm:</strong>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="let file of selectedFiles">
                                        <span>
                                            <a
                                                (click)="
                                                    DownloadFile(
                                                        file.filePath,
                                                        file.fileName
                                                    )
                                                "
                                                href="javascript:;"
                                                >{{ file.fileName }}</a
                                            >
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            type="button"
            label="Info"
            class="p-element p-ripple p-button-danger p-button p-component"
            ng-reflect-label="Danger"
            (click)="ThoatChiTiet()"
        >
            <span class="p-button-label">Hủy</span><span class="p-ink"></span>
        </button>
    </ng-template>
</p-dialog>
