<p-dialog
    [(visible)]="show"
    [draggable]="true"
    [resizable]="false"
    (onShow)="BindDialogData()"
    (onHide)="Thoat()"
    [style]="{ width: '950px' }"
    [modal]="true"
    header="Chi tiết"
>
    <ng-template pTemplate="content" class="print-dialog">
        <div class="roboto">
            <div class="field grid">
                <div class="col-12 md:col-12 text-center">
                    <h1>Chi tiết phiếu trình</h1>
                    <label class="text-uppercase">{{
                        phieuTrinh?.tenPhieuTrinh
                    }}</label>
                    <br />
                    <label for=""
                        >Ngày trình:
                        {{ phieuTrinh?.ngayTrinh | date : "dd/MM/yyyy" }}</label
                    >
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <table class="custom-table">
                        <tr>
                            <td class="w-10 custom-rb"><b>Kính gửi</b></td>
                            <td class="custom-b">
                                {{ phieuTrinh?.kinhGui }}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb">
                                <b>Trích yếu văn bản đến</b>
                            </td>
                            <td class="custom-b">
                                {{ phieuTrinh?.trichYeuVanBanDen }}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb"><b>Vấn đề trình</b></td>
                            <td class="custom-b">
                                {{ phieuTrinh?.vanDeTrinh }}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb">
                                <b>Trích yếu dự thảo văn bản</b>
                            </td>
                            <td class="custom-b">
                                {{ phieuTrinh?.trichYeuDuThaoVanBan }}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb">
                                <b>Tài liệu văn bản dự thảo</b>
                            </td>
                            <td class="custom-b">
                                <ul>
                                    <li
                                        *ngFor="
                                            let file of phieuTrinh?.lstFileVanBanDuThao
                                        "
                                    >
                                        <span>
                                            <a
                                                (click)="
                                                    DownloadFile(
                                                        file.filePath,
                                                        file.fileName
                                                    )
                                                "
                                                href="javascript:;"
                                                >{{ file.fileName }}</a
                                            >
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb">
                                <b>Tài liệu văn bản liên quan</b>
                            </td>
                            <td class="custom-b">
                                <ul>
                                    <li
                                        *ngFor="
                                            let file of phieuTrinh?.lstFileVanBanLienQuan
                                        "
                                    >
                                        <span>
                                            <a
                                                (click)="
                                                    DownloadFile(
                                                        file.filePath,
                                                        file.fileName
                                                    )
                                                "
                                                href="javascript:;"
                                                >{{ file.fileName }}</a
                                            >
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10 custom-rb">
                                <b>Văn bản liên quan</b>
                            </td>
                            <td class="custom-b">
                                {{phieuTrinh?.vanBanLienQuan}}
                            </td>
                        </tr> 
                        <tr>
                            <td class="w-10 custom-r">
                                <b>Hồ sơ liên quan</b>
                            </td>
                            <td class="">
                                {{phieuTrinh?.hoSoLienQuan}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-12">
                    <table class="custom-table">
                        <tr>
                            <td class="text-center w-50 custom-rb">
                                <b>Ý kiến lãnh đạo (thông qua/từ chối)</b>
                            </td>
                            <td class="text-center w-50 custom-b">
                                <b>Ý kiến lãnh đạo ký duyệt (ký/từ chối)</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-50 custom-rb text-center">
                                {{ phieuTrinh?.yKienLanhDaoThongQua }}
                            </td>
                            <td class="text-center w-50 custom-b">
                                {{ phieuTrinh?.yKienLanhDaoKyDuyet }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center w-50 custom-rb">
                                <b>Lãnh đạo duyệt </b>
                            </td>
                            <td class="text-center w-50 custom-b">
                                <b>Lãnh đạo ký </b>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center w-50">
                                Ngày:
                                {{
                                    phieuTrinh?.ngayLanhDaoThongQua
                                        | date : "dd/MM/yyyy"
                                }}
                                <br />
                                {{ phieuTrinh?.tenTrangThai }}
                                <br />{{ phieuTrinh?.tenNguoiDuyet }}
                            </td>
                            <td class="text-center w-50">
                                Ngày:
                                {{
                                    phieuTrinh?.ngayLanhDaoKyDuyet
                                        | date : "dd/MM/yyyy"
                                }}
                                <br />
                                {{ phieuTrinh?.tenTrangThai }}
                                <br />{{ phieuTrinh?.tenNguoiKy }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
