<p-dialog
    appendTo="body"
    header="Cập nhật kết quả"
    (onHide)="ThoatBaoCao()"
    (onShow)="BindDataDialog()"
    [(visible)]="show"
    [modal]="true"
    [style]="{ width: '800px' }"
    [draggable]="true"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <div class="field grid">
            <label class="col-12 md:col-3 fl-wr">
                Đơn vị/ cá nhân trả lời
            </label>
            <label class="col-12 md:col-9 fl-wr">
                <textarea
                    rows="3"
                    cols="30"
                    class="my-drop"
                    [(ngModel)]="donViCaNhanTraLoi"
                    placeholder="Đơn vị/ cá nhân trả lời"
                    pInputTextarea
                ></textarea>
            </label>
        </div>

        <div class="field grid">
            <label class="col-12 md:col-3 fl-wr"> Chọn văn bản trả lời: </label>
            <label class="col-12 md:col-9 fl-wr">
                <p-dropdown
                    [showClear]="true"
                    [(ngModel)]="idVanBanTraLoi"
                    [options]="lstVanBanTraLoi"
                    [filter]="true"
                    appendTo="body"
                    optionValue="idvb"
                    optionLabel="thongSo"
                    placeholder="Chọn văn bản"
                    [style]="{ width: '100%' }"
                    class="my-drop"
                ></p-dropdown>
            </label>
        </div>

        <div class="field grid">
            <label class="col-12 md:col-3 fl-wr">
                File văn bản trả lời đính kèm (khác với file trên):
            </label>
            <label class="col-12 md:col-9 fl-wr">
                <div>
                    <label for="fileUpload" class="custom-file-upload">
                        <i class="pi pi-upload"></i> Chọn tệp
                    </label>
                    <input
                        type="file"
                        id="fileUpload"
                        multiple="multiple"
                        (change)="onFileSelected($event)"
                        style="display: none"
                    />
                </div>
                <ul>
                    <li *ngFor="let file of selectedFiles">
                        <a
                            (click)="DownloadFile(fileName, filePath)"
                            href="javascript:;"
                            >{{ file.fileName }}</a
                        ><a href="javascript:;" (click)="XoaFile(file.fileName)"
                            >&nbsp;<i class="pi pi-trash"></i
                        ></a>
                    </li>
                </ul>
            </label>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            type="submit"
            label="Info"
            class="p-element p-ripple p-button-info p-button p-component"
            ng-reflect-label="Info"
            (click)="CapNhatKetQua()"
        >
            <span class="p-button-label">Lưu</span><span class="p-ink"></span>
        </button>
        <button
            pbutton=""
            pripple=""
            type="button"
            label="Info"
            class="p-element p-ripple p-button-danger p-button p-component"
            (click)="ThoatBaoCao()"
            ng-reflect-label="Danger"
        >
            <span class="p-button-label">Hủy</span><span class="p-ink"></span>
        </button>
    </ng-template>
</p-dialog>
