<div class="grid">
    <div class="col-12">
        <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"
                ></p-breadcrumb>
    </div>
    <div class="col-12 pt-0">
        <p-toast></p-toast>
        <div class="card pt-4 pb-0 pl-4 pr-4 mb-3">
            <h2>TÌM KIẾM</h2>
            <div class="icon-cls">
                <a href="javascript:;" (click)="ShowSearch()">{{
                    !isShowSearch
                        ? "Hiện tìm kiếm nâng cao"
                        : "Ẩn tìm kiếm nâng cao"
                }}</a>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-3">
                    <input
                        pInputText
                        [(ngModel)]="timKiemDanhSach.trichYeu"
                        class="form-control"
                        id="search-name-title"
                        type="text"
                        placeholder="Thông tin văn bản"
                    />
                </div>
                <div class="field col-12 md:col-2">
                    <input
                        id="search-name-title"
                        type="text"
                        pInputText
                        placeholder="Số, ký hiệu"
                        [(ngModel)]="timKiemDanhSach.soKyHieu"
                    />
                </div>
                <div class="field col-12 md:col-2">
                    <p-dropdown
                        [options]="lstNam"
                        placeholder="Chọn năm"
                        [(ngModel)]="timKiemDanhSach.nam"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-2">
                    <p-dropdown
                        [options]="lstThang"
                        placeholder="Chọn tháng"
                        [(ngModel)]="timKiemDanhSach.thang"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-2 mt-2">
                    <div class="field-checkbox">
                        <p-checkbox
                            name="timChinhXac"
                            id="timChinhXac"
                            value="true"
                            label="Tìm chính xác"
                            (click)="TimChinhXac()"
                        ></p-checkbox>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="isShowSearch">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-3">
                        <p-calendar
                            dateFormat="dd/mm/yy"
                            placeholder="Ngày ban hành"
                            [(ngModel)]="timKiemDanhSach.ngayBanHanh"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-calendar
                            dateFormat="dd/mm/yy"
                            placeholder="Ngày gửi"
                            [(ngModel)]="timKiemDanhSach.ngayGui"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="lstSoVanBan"
                            optionValue="value"
                            optionLabel="text"
                            [(ngModel)]="timKiemDanhSach.soVanBanId"
                            (ngModelChange)="changeSoVanBan($event)"
                            placeholder="Chọn sổ văn bản"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="lstLoaiVanBan"
                            placeholder="Chọn loại văn bản"
                            optionValue="value"
                            [(ngModel)]="timKiemDanhSach.loaiVanBanId"
                            optionLabel="text"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-3">
                        <input
                            id="search-name-title"
                            type="text"
                            pInputText
                            placeholder="Trích yếu"
                            [(ngModel)]="timKiemDanhSach.trichYeu"
                        />
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="luaChonTrangThai"
                            [(ngModel)]="timKiemDanhSach.trangThai"
                            placeholder="Chọn trạng thái"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <p-dropdown
                            [options]="luaChonMucDo"
                            [(ngModel)]="timKiemDanhSach.mucDo"
                            placeholder="Chọn mức độ trạng thái"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <input
                            id="search-name-title"
                            type="text"
                            pInputText
                            placeholder="Số đi"
                            [(ngModel)]="timKiemDanhSach.soDi"
                        />
                    </div>
                </div>
            </ng-container>

            <div class="field grid div-center">
                <div class="field col-12 md:col-2">
                    <button
                        pButton
                        pRipple
                        label="Tìm kiếm"
                        icon="pi pi-search"
                        class="p-button-info mr-2"
                        (click)="LoadDanhSach()"
                    ></button>
                </div>
            </div>
        </div>

        <div class="card pb-0 pl-4 pr-4">
            <div class="wrapper">
                <h2>DANH SÁCH VĂN BẢN ĐI</h2>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table
                        styleClass="p-datatable-gridlines"
                        #dt
                        [value]="danhSachVanBanDi"
                        dataKey="id"
                        [rows]="10"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [rowHover]="true"
                        [paginator]="true"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 2rem">STT</th>
                                <th style="min-width: 10rem">Số ký hiệu</th>
                                <th style="min-width: 14rem">Trích yếu</th>
                                <th style="min-width: 2rem">Số đi</th>
                                <th style="min-width: 10rem">Ngày ban hành</th>
                                <th style="min-width: 10rem">
                                    Loại văn bản nghiệp vụ
                                </th>
                                <th style="min-width: 10rem">Trạng thái</th>
                                <th style="min-width: 10rem">Trạng thái gửi</th>
                                <th style="min-width: 8rem">Gửi</th>
                                <th style="min-width: 10rem">Chức năng</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-vanBanDi
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td class="text-center">
                                    <span class="p-column-title">STT</span>
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    <a
                                        href="javascript:;"
                                        (click)="ChiTietVanBan(vanBanDi.id)"
                                        >{{ vanBanDi.soKiHieu }}</a
                                    >
                                </td>
                                <td>
                                    {{ vanBanDi.trichYeu }}
                                </td>
                                <td class="text-center">
                                    {{ vanBanDi.soDi }}
                                </td>
                                <td class="text-center">
                                    {{
                                        vanBanDi.ngayBanHanh
                                            | date : "dd-MM-yyyy"
                                    }}
                                </td>
                                <td>
                                    {{ vanBanDi.trangThaiVanBan }}
                                </td>
                                <td>
                                    {{ vanBanDi.trangThaiPhanPhoi }}
                                </td>
                                <td>
                                    {{ vanBanDi.trangThaiGuiVanBan }}
                                </td>
                                <td class="text-center">
                                    <span *ngIf="vanBanDi.dieuKienGui == 'Gửi'">
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-play"
                                            z
                                            class="p-button-rounded p-button-info mr-2"
                                        ></button>
                                    </span>
                                    <span
                                        *ngIf="
                                            vanBanDi.dieuKienGui == 'Send';
                                            else allowSection
                                        "
                                        >Đã gửi</span
                                    >
                                    <ng-template #allowSection>
                                        <span
                                            *ngIf="
                                                vanBanDi.dieuKienGui == 'Allow'
                                            "
                                        >
                                            <button
                                                pButton
                                                pRipple
                                                icon="pi pi-play"
                                                class="p-button-rounded p-button-info mr-2 my-size-icon"
                                                (click)="GuiVanBan(vanBanDi.id)"
                                                pTooltip="Gửi văn bản"
                                            ></button>
                                        </span>
                                        <span
                                            *ngIf="
                                                vanBanDi.dieuKienGui ==
                                                'Required_PDF'
                                            "
                                            >Yêu cầu PDF</span
                                        >
                                        <span
                                            *ngIf="
                                                vanBanDi.dieuKienGui ==
                                                'Publish_False'
                                            "
                                            >Văn bản lưu thông nội bộ</span
                                        >
                                    </ng-template>
                                </td>
                                <td>
                                    <div class="flex justify-content-center">
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-plus"
                                            class="p-button-rounded p-button-info mr-2 my-size-icon"
                                            (click)="chucNang.toggle($event)"
                                            pTooltip="Chỉnh sửa"
                                        >
                                            <p-overlayPanel
                                                #chucNang
                                                [showCloseIcon]="false"
                                                [style]="{ width: '150px' }"
                                            >
                                                <ng-template pTemplate>
                                                    <p-table
                                                        [value]="lstChucNang"
                                                        selectionMode="single"
                                                        (onRowSelect)="
                                                            chucNang.hide()
                                                        "
                                                        responsiveLayout="scroll"
                                                    >
                                                        <ng-template
                                                            pTemplate="body"
                                                            let-item
                                                        >
                                                            <tr>
                                                                <td
                                                                    (click)="
                                                                        HandleClick(
                                                                            item.action,
                                                                            vanBanDi.id
                                                                        )
                                                                    "
                                                                >
                                                                    <a
                                                                        class="my-font"
                                                                        href="javascript:;"
                                                                    >
                                                                        <i
                                                                            class="{{
                                                                                item.icon
                                                                            }} my-font"
                                                                        ></i>
                                                                        {{
                                                                            item.label
                                                                        }}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </ng-template>
                                            </p-overlayPanel>
                                        </button>
                                        <button
                                            (click)="CapNhat(vanBanDi.id)"
                                            pTooltip="Cập nhật"
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2 my-size-icon"
                                        ></button>
                                        <button
                                            (click)="Xoa(vanBanDi.id)"
                                            pTooltip="Xóa"
                                            pButton
                                            pRipple
                                            icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger mr-2 my-size-icon"
                                        ></button>
                                        <button
                                            (click)="PhanPhoi(vanBanDi.id)"
                                            pTooltip="Phân phối"
                                            pButton
                                            pRipple
                                            icon="pi pi-share-alt"
                                            class="p-button-rounded p-button-warning my-size-icon"
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <app-chi-tiet-van-ban
            [show]="hienThiChiTiet"
            (tatPopup)="Thoat($event, 'CT')"
            [id]="id"
        ></app-chi-tiet-van-ban>
        <app-gui-van-ban
            [show]="hienThiGuiVanBan"
            (tatPopup)="Thoat($event, 'G')"
            [id]="id"
        ></app-gui-van-ban>
        <app-cap-nhat-van-ban
            [show]="hienThiCapNhat"
            (tatPopup)="Thoat($event, 'CN')"
            [id]="id"
        ></app-cap-nhat-van-ban>
        <app-phan-phoi
            [show]="hienThiPhanPhoi"
            (tatPopup)="Thoat($event, 'PP')"
            [id]="id"
        ></app-phan-phoi>
        <app-thu-hoi
            [show]="hienThiThuHoi"
            (tatPopup)="Thoat($event, 'TH')"
            [id]="id"
        ></app-thu-hoi>
        <app-lay-lai
            [show]="hienThiLayLai"
            (tatPopup)="Thoat($event, 'LL')"
            [id]="id"
        ></app-lay-lai>
        <app-thay-the
            [show]="hienThiThayThe"
            (tatPopup)="Thoat($event, 'TT')"
            [id]="id"
        ></app-thay-the>
        <p-confirmDialog #cd [style]="{ width: '30vw' }">
            <ng-template pTemplate="header">
                <h3>Xác nhận</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pbutton=""
                    pripple=""
                    (click)="cd.accept()"
                    label="Đồng ý"
                    icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-info"
                >
                    <span
                        class="p-button-icon p-button-icon-left pi pi-check"
                        aria-hidden="true"
                    ></span>
                    <span class="p-button-label">Đồng ý</span>
                    <span class="p-ink"></span>
                </button>
                <button
                    pbutton=""
                    pripple=""
                    (click)="cd.reject()"
                    label="Hủy"
                    icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-danger"
                >
                    <span
                        class="p-button-icon p-button-icon-left pi pi-times"
                        aria-hidden="true"
                    ></span>
                    <span class="p-button-label">Hủy</span>
                    <span class="p-ink"></span>
                </button>
            </ng-template>
        </p-confirmDialog>
    </div>
</div>
