<form [formGroup]="formCapNhat">
    <p-dialog appendTo="body" header="Cập nhật phòng ban" (onHide)="Thoat()" (onShow)="BindDataDialog()" [(visible)]="hienThi" [modal]="true"
        [style]="{ width: '65vw' }" [draggable]="true" [resizable]="false">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="MaDonVi">Mã phòng ban <span class="p-error">(*)</span></label>
                <input pinputtext="" id="MaDonVi" type="text" class="p-inputtext p-component p-element"
                    formControlName="maDonVi">
                <span class="p-error"
                    *ngIf="!formCapNhat.controls.maDonVi.valid && (formCapNhat.controls.maDonVi.touched || submitted)">Vui
                    lòng nhập mã phòng ban</span>
            </div>

            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="TenDonVi">Tên phòng ban <span class="p-error">(*)</span></label>
                <input pinputtext="" id="TenDonVi" type="text" class="p-inputtext p-component p-element"
                    formControlName="tenDonVi">
                <span class="p-error"
                    *ngIf="!formCapNhat.controls.tenDonVi.valid && (formCapNhat.controls.tenDonVi.touched || submitted)">Vui
                    lòng nhập tên phòng ban</span>
            </div>

            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="donvi">Đơn vị <span class="p-error">(*)</span></label>
                <p-treeSelect appendTo="body" (ngModelChange)="onSelectChange($event)" [filterInputAutoFocus]="true" formControlName="parentId" id="ParentId" [filter]="true" class="md:w-20rem w-full" containerStyleClass="w-full"
                    [options]="DonViTree" placeholder="Chọn đơn vị"></p-treeSelect>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="Url">URL</label>
                <input pinputtext="" id="Url" type="text" class="p-inputtext p-component p-element"
                    formControlName="url">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="Sdt">Số điện thoại</label>
                <input pinputtext="" id="Sdt" type="text" class="p-inputtext p-component p-element"
                    formControlName="sdt">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="Fax">Fax</label>
                <input pinputtext="" id="Fax" type="text" class="p-inputtext p-component p-element"
                    formControlName="fax">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="NgayTruyenThong">Ngày truyền thống</label>
                <p-calendar appendTo="body" id="NgayTruyenThong" dataType="string" formControlName="ngayTruyenThong" type="text" [showIcon]="true" [readonlyInput]="true" inputId="icon"></p-calendar>

            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="DiaChi">Địa chỉ</label>
                <input pinputtext="" id="DiaChi" type="text" class="p-inputtext p-component p-element"
                    formControlName="diaChi">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="Email">Email</label>
                <input pinputtext="" id="Email" type="text" class="p-inputtext p-component p-element"
                    formControlName="email">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="Website">Website</label>
                <input pinputtext="" id="Website" type="text" class="p-inputtext p-component p-element"
                    formControlName="website">
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="GhiChu">Ghi chú</label>
                <textarea rows="5" type="text" cols="30" id="GhiChu" formControlName="ghiChu" placeholder="nhập ghi chú" pInputTextarea></textarea>
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="ThuTu">Số thứ tự</label>
                <input pinputtext="" id="ThuTu" type="text" class="p-inputtext p-component p-element"
                    formControlName="thuTu">
            </div>
            <div class="field col-12 md:col-3 mb-0">
                <label htmlfor="TrangThai">Trạng thái</label>
                <div class="field-checkbox">
                    <p-checkbox name="trangThai" binary="true" [(ngModel)]="checked" formControlName="trangThai"  (click)="CheckHienThi()" class="mg-t-25" value="true"
                        label="Hiển thị"></p-checkbox>
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <button (click)="CapNhatPhongBan()" type="submit" pbutton="" pripple="" label="Tìm kiếm" icon="pi pi-bookmark"
                class="p-element p-ripple p-button p-component">
                <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                <span class="p-button-label">Lưu</span>
                <span class="p-ink"></span>
            </button>
            <button pbutton="" pripple="" label="Tìm kiếm" icon="pi pi-bookmark"
                class="p-element p-ripple p-button p-component p-button-danger" (click)="Thoat()">
                <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                <span class="p-button-label">Thoát</span>
                <span class="p-ink"></span>
            </button>
        </ng-template>
    </p-dialog>
</form>