<p-dialog [(visible)]="show" [style]="{width: '1100px'}" header="Chi tiết văn bản" [modal]="true" class="p-fluid"
    (onHide)="tatPopup()" (onShow)="GetVanBanDi()">
    <p-tabView orientation="left">
        <p-tabPanel header="Header I" class="line-height-3 m-0">
            <div class="card my-card">
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-tl">
                            Số ký hiệu:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soKiHieu}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Loại văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-tr">
                            <label>{{vanBanDi.tenLoaiVb}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Ngày ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.ngayBanHanh | date: "dd/MM/yyyy"}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Ngày nhận/gửi văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.ngayNhanGui | date: "dd/MM/yyyy"}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Sổ văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.tenSoVB}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Số hiện tại:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soDiDen}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Trạng thái:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.trangThai}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Sô ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soBanPhatHanh}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Cơ quan ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.coQuanBh}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Mã định danh:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.maDinhDanhVB}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Mức độ:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.mucDo}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Số đi/đến:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soDiDen}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex-100 justify-content-between">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-bl">
                            Trích yếu:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-br">
                            <label>{{vanBanDi.trichYeu}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex-100 justify-content-between">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-bl">
                            Nơi nhận khác:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-br">
                            <label>{{vanBanDi.noiNhanGui}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Header II" class="line-height-3 m-0">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque
            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
            enim ipsam voluptatem quia
            voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
            Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p-tabPanel>
        <p-tabPanel header="Header III" class="line-height-3 m-0">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores
            et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi, id est laborum et dolorum fuga.
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit
            quo minus.
        </p-tabPanel>
    </p-tabView>
</p-dialog>