<p-dialog [(visible)]="show" [style]="{width: '1100px'}" header="Chi tiết văn bản" [modal]="true" class="p-fluid"
    (onHide)="tatPopup()" (onShow)="GetVanBanDi()">
    <p-tabView orientation="left">
        <p-tabPanel header="Thông tin văn bản" class="line-height-3 m-0">

            <div class="card my-card">
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-tl">
                            Số ký hiệu:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soKiHieu}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Loại văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-tr">
                            <label>{{vanBanDi.tenLoaiVb}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Ngày ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.ngayBanHanh | date: "dd/MM/yyyy"}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Ngày nhận/gửi văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.ngayNhanGui | date: "dd/MM/yyyy"}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Sổ văn bản:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.tenSoVB}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Số hiện tại:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soDiDen}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Trạng thái:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.trangThai}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Sô ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soBanPhatHanh}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Cơ quan ban hành:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.coQuanBH}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Mã định danh:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.maDinhDanhVB}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Mức độ:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.mucDo}}</label>
                        </div>
                    </div>
                    <div class="my-item-flex justify-content-between ">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                            Số đi/đến:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                            <label>{{vanBanDi.soDiDen}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex-100 justify-content-between">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-bl">
                            Trích yếu:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-br">
                            <label>{{vanBanDi.trichYeu}}</label>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="my-item-flex-100 justify-content-between">
                        <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-bl">
                            Nơi nhận khác:
                        </div>
                        <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-br">
                            <label>{{vanBanDi.noiNhanGui}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Thông tin đã gửi" class="line-height-3 m-0">
            <div *ngIf="lstVBNG_VBIDPL != null && lstVBNG_VBIDPL.length > 0; else tempDaGui">
                My view loading ...
            </div>

            <ng-template #tempDaGui>
                <div *ngIf="lstVBNG_VBIDPLoaiCN != null && lstVBNG_VBIDPLoaiCN.length > 0; else tempDaGui1">
                    My view loading ...
                </div>
            </ng-template>

            <ng-template #tempDaGui1>
                <div>
                    Không có dữ liệu...
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Thông tin gửi văn bản" class="line-height-3 m-0">
            <div *ngIf="vanBanNhanGui.publicNoiDung == 1; else tempGuiVanBan">
                <label class="my-font my-font-color">Văn bản phân phối toàn cơ quan.</label>
            </div>

            <ng-template #tempGuiVanBan>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <div class="my-font-size mb-3">Gửi văn bản tới <span class="my-font-table-color">{{CountCNPP}}</span> cá nhân.</div>
                        <p-table [value]="lstVBNG_VBIDPL" styleClass="p-datatable-gridlines" [columns]="cols"
                        responsiveLayout="scroll" [rows]="10">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>Tên cá nhân</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-vBNG_VBIDPL let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        {{rowIndex + 1}}
                                    </td>
                                    <td>
                                       {{vBNG_VBIDPL.ten}}
                                    </td>
                                    <td>
                                        {{vBNG_VBIDPL.trangThai}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div *ngIf="CountCNPP == 0" class="my-font-no-data">Không có dữ liệu.</div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <div class="my-font-size mb-3">Gửi văn bản tới <span class="my-font-table-color">{{CountDVPP}}</span> đơn vị.</div>
                        <p-table [value]="lstVBNG_VBIDPL" styleClass="p-datatable-gridlines" [columns]="cols"
                        responsiveLayout="scroll" [rows]="10">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>Tên đơn vị</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-vBNG_VBIDPL let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        {{rowIndex + 1}}
                                    </td>
                                    <td>
                                       {{vBNG_VBIDPL.ten}}
                                    </td>
                                    <td>
                                        {{vBNG_VBIDPL.trangThai}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div *ngIf="CountDVPP == 0" class="my-font-no-data">Không có dữ liệu.</div>
                    </div>
                </div>
            </ng-template>

            <!-- <ng-template #temp2>
                <div>
                    Không có dữ liệu...
                </div>
            </ng-template> -->
        </p-tabPanel>
        <p-tabPanel header="Chi tiết văn bản" class="line-height-3 m-0">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores
            et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi, id est laborum et dolorum fuga.
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit
            quo minus.
        </p-tabPanel>
        <p-tabPanel header="Văn bản liên quan" class="line-height-3 m-0">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores
            et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
            officia deserunt mollitia animi, id est laborum et dolorum fuga.
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit
            quo minus.
        </p-tabPanel>
    </p-tabView>
</p-dialog>