<p-dialog
    [(visible)]="show"
    [formGroup]="formCapNhat"
    (onShow)="BindDataDialog()"
    [draggable]="true"
    [resizable]="false"
    (onHide)="Thoat()"
    [style]="{ width: '950px' }"
    [modal]="true"
    header="Cập nhật lịch"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field grid">
            <div class="col-12 md:col-12 div-center">
                Các trường <span class="p-error">&nbsp;(*)&nbsp;</span> bắt buộc
                phải nhập
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-3 fl-wr">
                <label htmlfor="ngayTao"
                    >Ngày tạo<span class="p-error"> (*)</span>:</label
                >
                <p-calendar
                    appendTo="body"
                    formControlName="ngayTao"
                    dateFormat="dd/mm/yy"
                    placeholder="Ngày tạo"
                    [style]="{ width: '100%' }"
                    class="my-drop"
                    required=""
                    showIcon="true"
                ></p-calendar>
                <span
                    class="p-error"
                    *ngIf="
                        !formCapNhat.controls.ngayTao.valid &&
                        (formCapNhat.controls.ngayTao.touched || submitted)
                    "
                    >Vui lòng nhập ngày tạo</span
                >
            </div>
            <div class="col-12 md:col-3 fl-wr">
                <label htmlfor="thoiGian">Thời gian:</label>
                <p-dropdown
                    [options]="lstThoiGian"
                    appendTo="body"
                    optionValue="value"
                    class="form-control"
                    formControlName="thoiGian"
                    placeholder="Chọn thời gian"
                    [showClear]="false"
                    (onChange)="ChangeThoiGian()"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-3 fl-wr">
                <label htmlfor="gio">Chọn giờ:</label>
                <p-dropdown
                    [options]="lstGio"
                    appendTo="body"
                    optionValue="value"
                    formControlName="gio"
                    placeholder="Chọn giờ"
                    class="form-control"
                    [showClear]="false"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-3 fl-wr">
                <label htmlfor="phut">Chọn phút:</label>
                <p-dropdown
                    [options]="lstPhut"
                    appendTo="body"
                    optionValue="value"
                    formControlName="phut"
                    class="form-control"
                    placeholder="Chọn phút"
                    [showClear]="false"
                ></p-dropdown>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="diaDiem"
                    >Địa điểm<span class="p-error"> (*)</span>:</label
                >
                <textarea
                    rows="3"
                    cols="30"
                    formControlName="diaDiem"
                    placeholder="Địa điểm"
                    pInputTextarea
                    required=""
                ></textarea>
                <span
                    class="p-error"
                    *ngIf="
                        !formCapNhat.controls.diaDiem.valid &&
                        (formCapNhat.controls.diaDiem.touched || submitted)
                    "
                    >Vui lòng nhập địa điểm</span
                >
            </div>
            <div class="col-12 md:col-6">
                <label htmlfor="lanhDaoHDND">Lãnh đạo HĐND:</label>
                <input
                    pinputtext=""
                    id="lanhDaoHDND"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="lanhDaoHDND"
                    [style]="{'margin-top' : '5px'}"

                />
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="lanhDaoDoanDBQH">Lãnh đạo Đoàn DBQH:</label>
                <textarea
                    rows="3"
                    cols="30"
                    formControlName="lanhDaoDoanDBQH"
                    placeholder="Địa điểm"
                    pInputTextarea
                ></textarea>
            </div>
            <div class="col-12 md:col-6">
                <label htmlfor="lanhDaoBan">Lãnh đạo ban:</label>
                <input
                    pinputtext=""
                    [style]="{'margin-top' : '5px'}"
                    id="lanhDaoBan"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="lanhDaoBan"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="lanhDaoVanPhong">Lãnh đạo văn phòng:</label>
                <input
                    pinputtext=""
                    id="lanhDaoVanPhong"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="lanhDaoVanPhong"
                />
            </div>
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="donViChuanBi">Chuyên viên chuẩn bị:</label>
                <input
                    pinputtext=""
                    id="donViChuanBi"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="donViChuanBi"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-12 fl-wr">
                <label htmlfor="noiDung"
                    >Nội dung<span class="p-error"> (*)</span>:</label
                >
                <textarea
                    rows="3"
                    cols="30"
                    formControlName="noiDung"
                    placeholder="Nội dung"
                    pInputTextarea
                    required=""
                ></textarea>
                <span
                    class="p-error"
                    *ngIf="
                        !formCapNhat.controls.noiDung.valid &&
                        (formCapNhat.controls.noiDung.touched || submitted)
                    "
                    >Vui lòng nhập nội dung</span
                >
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            type="submit"
            label="Info"
            class="p-element p-ripple p-button-info p-button p-component"
            ng-reflect-label="Info"
            (click)="CapNhat()"
        >
            <span class="p-button-label">Lưu</span><span class="p-ink"></span>
        </button>
        <button
            pbutton=""
            pripple=""
            type="button"
            label="Info"
            class="p-element p-ripple p-button-danger p-button p-component"
            ng-reflect-label="Danger"
            (click)="Thoat()"
        >
            <span class="p-button-label">Hủy</span><span class="p-ink"></span>
        </button>
    </ng-template>
</p-dialog>
