<div class="grid">
    <div class="col-12 pb-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 mb-0 pb-0">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h2>TÌM KIẾM</h2>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <input pInputText type="text" placeholder="Trích yếu"
                        class="form-control" [(ngModel)]="timKiemDanhSach.trichYeu"  [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element"/>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-calendar  dateFormat="dd/mm/yy"
                    placeholder="Gửi từ ngày" [(ngModel)]="timKiemDanhSach.tuNgay" [style]="{'width': '100%'}" class="my-drop"></p-calendar>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <input pInputText type="text" placeholder="Số ký hiệu" [(ngModel)]="timKiemDanhSach.soKyHieu"
                     [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element"/>
                </div>
                <label class="col-12 md:col-3 fl-wr">
                    <p-checkbox name="hienThi" (click)="CheckedHt()" id="hienThi" value="true"
                        label="Tìm chính xác"></p-checkbox>
                </label>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <button pButton pRipple label="Tìm kiếm" icon="pi pi-search" class="p-button-success mr-2"></button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="wrapper">
                <h2>DANH SÁCH VĂN BẢN ĐẾN CHỜ TIẾP NHẬN</h2>
               
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [paginator]="true" #dt1 [value]="LstTiepNhanVanBan" dataKey="id" [rows]="10"
                        [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 2%;">
                                    <div class="flex justify-content-between align-items-center">
                                        STT
                                    </div>
                                </th>
                                <th style="min-width: 5rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Số ký hiệu
                                    </div>
                                </th>
                                <th style="min-width: 7cqw">
                                    <div class="flex justify-content-between align-items-center">
                                        Trích yếu
                                    </div>
                                </th>
                                <th style="min-width: 5rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Ngày gửi
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Cơ quan ban hành
                                    </div>
                                </th>

                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Trạng thái
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Chức năng
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center;">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td class="text-center">
                                    <a
	href="javascript:;"
	(click)="ChiTietVanBan(item.id)"
	>{{ item.soKiHieu }}</a>
                                </td>
                                <td>
                                    {{item.trichYeu}}
                                </td>
                                <td class="text-center">
                                    {{
                                        item.ngayBanHanh
                                            | date : "dd-MM-yyyy"
                                    }}
                                </td>
                                <td>
                                    {{item.coQuanBH}}
                                </td>
                                <td>
                                    {{ item.trangThaiId == 1 ? "Phát hành" :
                                    item.trangThaiId == 2 ? "Chưa tiếp nhận" :
                                     item.trangThaiId == 3 ? "Đã tiếp nhận" :
                                     item.trangThaiId == 4 ? "VB lưu trữ" :
                                     item.trangThaiId == 5 ? "Đang XL" :
                                     item.trangThaiId == 7 ? "Đã XL" :
                                     item.trangThaiId == 6 ? "Đang XL" :
                                     item.trangThaiId == 11 ? "Văn bản chờ lấy lại" :
                                     item.trangThaiId == 12 ? "Văn bản lấy lại" :
                                     item.trangThaiId == 13 ? "Văn bản từ chối lấy lại" :
                                     item.trangThaiId == 16 ? "Văn bản chờ cập nhật" :
                                     item.trangThaiId == 17 ? "Văn bản cập nhật" :
                                     item.trangThaiId == 21 ? "Văn bản thu hồi" :
                                     item.trangThaiId == 22 ? "Văn bản chờ thu hồi" :
                                     item.trangThaiId == 23 ? "Văn bản từ chối thu hồi" :
                                     item.trangThaiId == 20 ? "Đã từ chối" : "Dự thảo" }}
                                </td>
                               
                                <td class="text-center">
                                    <div class="div-center">
                                        <button pButton pRipple pTooltip="Tiếp nhận" (click)="TiepNhan(item.id)" icon="pi pi-check"
                                            class="p-button-rounded p-button-success mr-2"></button>
                                        <button pButton pRipple (click)="TuChoi(item.id)"  pTooltip="Từ chối" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">No record found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="10">Loading record data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

       
    </div>

</div>
<app-tiep-nhan [hienThi]="hienthiTiepNhan" [id]="id" (tatPopup)="Thoat($event, 'T')"></app-tiep-nhan>

<app-tu-choi [hienThi]="hienthiTuChoi" [id]="id" (tatPopup)="Thoat($event, 'C')"></app-tu-choi>


<app-chi-tiet-van-ban
[show]="hienThiChiTiet"
(tatPopup)="Thoat($event, 'CT')"
[id]="idVanBanDi"
></app-chi-tiet-van-ban>
