* {
    box-sizing: border-box;
}

.text-uppercase{
    text-transform: uppercase !important;
}

//minhtd edit tree
.tree-node {
    display: flex;
    align-items: center; /* Đảm bảo các thành phần trong div được căn giữa theo chiều dọc */
  }
  
  .tree-link {
    position: relative;
    display: flex;
    align-items: center; /* Đảm bảo các thành phần trong div được căn giữa theo chiều dọc */
    cursor: pointer;
  }
  
  .tree-link::before {
    content: '';
    position: absolute;
    top: 50%; /* Đặt ở giữa theo chiều dọc */
    left: -10px; /* Điều chỉnh khoảng cách giữa đường liên kết và biểu tượng checkbox */
    transform: translateY(-50%); /* Đảo ngược lại chiều dọc để đảm bảo đường kẻ chạy qua giữa */
    width: 10px;
    height: 100%;
    border-left: 1px solid #000; /* Màu sắc của đường liên kết */
    z-index: -1;
  }

.form-control {
    display: block;
    width: 100%;
}

li{
    list-style-type: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
  }

.custom-file-upload {
    display: inline-block;
    padding: 10px 23px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .custom-file-upload i {
    margin-right: 5px;
  }

.pointer{
    cursor: pointer;
}

.form-control {
    width: 100%;
}

.my-drop{
    width:  100% !important;
}

.wrapper {
    display: flex;
}

.secondary-text {
    flex: 1
}

.icon-cls {
    flex: 1;
    text-align: right;
}

.icon-cls .p-button {
    margin-bottom: 15px;
}


.fl-wr {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem !important;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}