<p-dialog
    [(visible)]="show"
    [formGroup]="formThemMoi"
    [draggable]="true"
    [resizable]="false"
    (onHide)="Thoat()"
    (onShow)="LoadThu()"
    [style]="{ width: '1150px' }"
    [modal]="true"
    header="Thêm mới lịch"
    class="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field grid">
            <div class="col-12 md:col-12 div-center">
                Lịch phòng ban chỉ thêm theo tuần
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-12 fl-wr">
                <label htmlfor="listThu">Chọn thứ:<span class="p-error"> (*) </span>:</label>
                <p-multiSelect
                    [options]="lstThu"
                    formControlName="listThu"
                    required=""
                    class="form-control"
                ></p-multiSelect>
                <span
                    class="p-error"
                    *ngIf="
                        !formThemMoi.controls.listThu.valid &&
                        (formThemMoi.controls.listThu.touched || submitted)
                    "
                    >Vui lòng chọn thứ</span
                >
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-3 ">
                <label htmlfor="thoiGian">Thời gian:</label>
                <p-dropdown
                    [options]="lstThoiGian"
                    appendTo="body"
                    optionValue="value"
                    class="form-control"
                    [style]="{'margin-top' : '5px'}"
                    formControlName="thoiGian"
                    placeholder="Chọn thời gian"
                    [showClear]="false"
                    (onChange)="ChangeThoiGian()"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-2 ">
                <label htmlfor="gio">Chọn giờ:</label>
                <p-dropdown
                    [options]="lstGio"
                    appendTo="body"
                    class="form-control"
                    optionValue="value"
                    formControlName="gio"
                    [style]="{'margin-top' : '5px'}"
                    placeholder="Chọn giờ"
                    [showClear]="false"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-2 ">
                <label htmlfor="phut">Chọn phút:</label>
                <p-dropdown
                    [options]="lstPhut"
                    class="form-control"
                    appendTo="body"
                    optionValue="value"
                    formControlName="phut"
                    placeholder="Chọn phút"
                    [style]="{'margin-top' : '5px'}"
                    [showClear]="false"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-5 fl-wr">
                <label htmlfor="diaDiem">Địa điểm:</label>
                <textarea
                    rows="3"
                    cols="30"
                    formControlName="diaDiem"
                    placeholder="Địa điểm"
                    pInputTextarea
                ></textarea>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-4 fl-wr">
                <label htmlfor="lanhDaoChuTri">Lãnh đạo chủ trì:</label>
                <input
                    pinputtext=""
                    id="lanhDaoChuTri"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="lanhDaoChuTri"
                />
            </div>
            <div class="col-12 md:col-4 fl-wr">
                <label htmlfor="lanhDaoVanPhong">Lãnh đạo văn phòng:</label>
                <input
                    pinputtext=""
                    id="lanhDaoVanPhong"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="lanhDaoVanPhong"
                />
            </div>
            <div class="col-12 md:col-4 fl-wr">
                <label htmlfor="chuyenVienPhoiHop">Chuyên viên phối hợp:</label>
                <input
                    pinputtext=""
                    id="chuyenVienPhoiHop"
                    type="text"
                    class="p-inputtext p-component p-element"
                    formControlName="chuyenVienPhoiHop"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-12 fl-wr">
                <label htmlfor="noiDung"
                    >Nội dung<span class="p-error"> (*)</span>:</label
                >
                <textarea
                    rows="3"
                    cols="30"
                    formControlName="noiDung"
                    placeholder="Nội dung"
                    pInputTextarea
                    required=""
                ></textarea>
                <span
                    class="p-error"
                    *ngIf="
                        !formThemMoi.controls.noiDung.valid &&
                        (formThemMoi.controls.noiDung.touched || submitted)
                    "
                    >Vui lòng nhập nội dung</span
                >
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            type="submit"
            label="Info"
            class="p-element p-ripple p-button-info p-button p-component"
            ng-reflect-label="Info"
            (click)="ThemMoi()"
        >
            <span class="p-button-label">Lưu</span><span class="p-ink"></span>
        </button>
        <button
            pbutton=""
            pripple=""
            type="button"
            label="Info"
            class="p-element p-ripple p-button-danger p-button p-component"
            ng-reflect-label="Danger"
            (click)="Thoat()"
        >
            <span class="p-button-label">Hủy</span><span class="p-ink"></span>
        </button>
    </ng-template>
</p-dialog>
