<form [formGroup]="formThemMoi" (ngSubmit)="ThemMoiTaiKhoan()">
    <p-dialog appendTo="body" header="Thêm mới người dùng" (onHide)="Thoat()" [(visible)]="hienThi" [modal]="true"
        [style]="{ width: '65vw' }" [draggable]="true" [resizable]="false">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="tenDangNhap">Tên đăng nhập <span class="p-error">(*)</span></label>
                <input pinputtext="" id="tenDangNhap" type="text" class="p-inputtext p-component p-element"
                    formControlName="tenDangNhap">
                <span class="p-error"
                    *ngIf="!formThemMoi.controls.tenDangNhap.valid && (formThemMoi.controls.tenDangNhap.touched || submitted)">Vui
                    lòng nhập tên đăng nhập</span>
            </div>
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="gioiTinh">Giới tính</label>
                <p-dropdown [options]="[{id: '1', ten: 'Nam'},{id: '0', ten: 'Nữ'}]" optionValue="id" optionLabel="ten"
                    formControlName="gioiTinh"></p-dropdown>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="hoVaTen">Họ và tên <span class="p-error">(*)</span></label>
                <input pinputtext="" id="hoVaTen" type="text" class="p-inputtext p-component p-element"
                    formControlName="hoVaTen">
                <span class="p-error"
                    *ngIf="!formThemMoi.controls.hoVaTen.valid && (formThemMoi.controls.hoVaTen.touched || submitted)">Vui
                    lòng nhập họ và tên</span>
            </div>
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="matKhau">Mật khẩu <span class="p-error">(*)</span></label>
                <input type="password" id="matKhau" class="p-inputtext p-component p-element" formControlName="matKhau">
                <span class="p-error"
                    *ngIf="!formThemMoi.controls.matKhau.valid && (formThemMoi.controls.matKhau.touched || submitted)">Vui
                    lòng nhập mật khẩu</span>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="email">Email</label>
                <input pinputtext="" id="email" type="text" class="p-inputtext p-component p-element"
                    formControlName="email">
                <span class="p-error"
                    *ngIf="!formThemMoi.controls.email.valid && (formThemMoi.controls.email.touched || submitted)">Vui
                    lòng nhập họ và tên</span>
            </div>
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="donvi">Đơn vị <span class="p-error">(*)</span></label>
                <p-treeSelect [filterInputAutoFocus]="true" [filter]="true" (ngModelChange)="onSelectChange($event)" class="md:w-20rem w-full" containerStyleClass="w-full" formControlName="donVi"
                    [options]="DonViTree" placeholder="Chọn đơn vị"></p-treeSelect>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="phongBan">Phòng ban <span class="p-error">(*)</span></label>
                <p-dropdown [options]="PhongBan" formControlName="phongBan" optionLabel="name"></p-dropdown>
               
            </div>
            <div class="field col-12 md:col-6 mb-0">
                <label htmlfor="donvi">Nhóm quyền <span class="p-error">(*)</span></label>
                <input pinputtext="" id="phongBan" type="text" class="p-inputtext p-component p-element"
                formControlName="phongBan">
            </div>
        </div>
    </p-dialog>

</form>