<p-dialog [(visible)]="show" [formGroup]="formCapNhat" (onShow)="BindDataDialog()" [draggable]="true" [resizable]="false" (onHide)="Thoat()"
    [style]="{width: '950px'}" [modal]="true" header="Cập nhật bảng lương" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field grid">
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="tieuDe">Tiêu đề<span class="p-error"> (*)</span>:</label>
                <input pinputtext="" id="tieuDe" type="text" required="" class="p-inputtext p-component p-element"
                    formControlName="tieuDe">
                <span class="p-error"
                    *ngIf="!formCapNhat.controls.tieuDe.valid && (formCapNhat.controls.tieuDe.touched || submitted)">Vui
                    lòng nhập tiêu đề</span>
            </div>
            <div class="col-12 md:col-6">
                <label htmlfor="tieuDe" class="display-block">File đính kèm<span class="p-error"> (*)</span>:</label>
                &nbsp;<label for="fileUpload" class="custom-file-upload" *ngIf="!file">
                    <i class="pi pi-upload"></i> Chọn tệp
                </label>
                <input type="file" id="fileUpload" class="file-input" (change)="onChange($event)" #fileUpload
                    style="display: none;" />
                <div *ngIf="file">
                    <section class="file-info">
                        <ul>
                            <li>Tên file: <a (click)="downloadFile()" href="javascript:;">{{file.name}}</a><a
                                    href="javascript:;" (click)="XoaFile()">&nbsp;<i class="pi pi-trash"></i></a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="noiDung">Nội dung:</label>
                <textarea rows="3" cols="30"  formControlName="noiDung" placeholder="Nội dung" pInputTextarea></textarea>
            </div>
            <div class="col-12 md:col-6 fl-wr">
                <label htmlfor="ghiChu">Ghi chú:</label>
                <textarea rows="3" cols="30"  formControlName="ghiChu" placeholder="Nội dung" pInputTextarea></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pbutton="" pripple="" type="submit" label="Info"
            class="p-element p-ripple p-button-info p-button p-component" ng-reflect-label="Info"
            (click)="CapNhat()"><span class="p-button-label">Lưu</span><span class="p-ink"></span></button>
        <button pbutton="" pripple="" type="button" label="Info"
            class="p-element p-ripple p-button-danger p-button p-component" ng-reflect-label="Danger"
            (click)="Thoat()"><span class="p-button-label">Hủy</span><span class="p-ink"></span></button>
    </ng-template>
</p-dialog>