<div class="grid">
    <div class="col-12">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}" routerLink="/"></p-breadcrumb>
    </div>
    <div class="col-12 pt-0">
        <p-toast></p-toast>

        <div class="card pt-4 pb-0 pl-4 pr-4 mb-3">
            <h2>Tìm kiếm</h2>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 mb-0">
                    <input id="search-name-title" type="text" pInputText placeholder="Nội dung">
                </div>
                <div class="field col-12 md:col-2">
                    <label for="">Tuần thứ</label>
                    <p-dropdown [options]="lstWeeks" optionValue="value" [(ngModel)]="currentWeek"
                        (ngModelChange)="ChangeLich()" [filter]="true"></p-dropdown>
                </div>
                <div class="field col-12 md:col-2">
                    <label for="">Năm</label>
                    <p-dropdown [options]="lstYears" optionValue="value" [(ngModel)]="currentYear"
                        (ngModelChange)="ChangeLich()" [filter]="true"></p-dropdown>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton pRipple label="TUẦN TRƯỚC" icon="pi pi-arrow-left" iconPos="left"
                        class="p-button-info mr-2 mt-5" (click)="UpdateWeek(startOfWeek, 'prev')"></button>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton pRipple label="TUẦN SAU" icon="pi pi-arrow-right" iconPos="right"
                        class="p-button-info mr-2 mt-5" (click)="UpdateWeek(startOfWeek, 'next')"></button>
                </div>
                <div class="field col-12 md:col-2">
                    <label for="">Từ ngày</label>
                    <input [(ngModel)]="showFirstOfWeek" id="tuNgay" type="text" class="form-control"
                        class="p-inputtext p-component p-element" />
                </div>
                <div class="field col-12 md:col-2">
                    <label for="">Đến ngày</label>
                    <input [(ngModel)]="showEndOfWeek" id="denNgay" type="text" class="form-control"
                        class="p-inputtext p-component p-element" />
                </div>
            </div>
        </div>

        <div class="card pb-0 pl-4 pr-4">
            <div class="wrapper">
                <h2>DANH SÁCH HOẠT ĐỘNG SẮP TỚI</h2>
                <div class="icon-cls">
                    <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success" (click)="ThemMoi()">
                    </button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table styleClass="p-datatable-gridlines" #dt [value]="lstHoatDong" [columns]="cols"
                        responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center;">STT</th>
                                <th>Nội dung</th>
                                <th>Ngày diễn ra</th>
                                <th>Gửi</th>
                                <th style="text-align: center;">Chức năng
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-hoatDong let-rowIndex="rowIndex">
                            <tr>
                                <td style="width:5%; min-width:5rem; text-align: center;"><span
                                        class="p-column-title">STT</span>
                                    {{rowIndex + 1}}
                                </td>
                                <td style="width:10%; min-width:15rem;">
                                    <span class="p-column-title">Nội dung</span>
                                    {{hoatDong.noiDung}}
                                </td>
                                <td style="width:10%; min-width:10rem;">
                                    <span class="p-column-title">Ngày diễn ra</span>
                                    {{hoatDong.ngayDienRa | date: 'dd/MM/yyyy'}}
                                </td>
                                <td style="width:20%; min-width:8rem;">
                                    <span class="p-column-title">Gửi</span>
                                    <button pButton pRipple icon="pi pi-play"
                                        class="p-button-rounded p-button-info mr-2 my-size-icon"
                                        (click)="GuiVanBan(hoatDong.id)"></button>
                                </td>
                                <td style="width:10%; min-width:10rem;">
                                    <div class="flex justify-content-center">
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="CapNhatSoVanBan(hoatDong.id)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"
                                            (click)="XoaSoVanBan(hoatDong.id)"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No record found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <app-them-moi [show]="hienThiThemMoi" (close)="TatPopup($event, 'C')"></app-them-moi>

    </div>
</div>