<div class="grid">
    <div class="col-12 pb-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 mb-0 pb-0">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h2>TÌM KIẾM</h2>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <input pInputText type="text" [(ngModel)]="timKiemDanhSach.trichYeu" placeholder="Trích yếu"
                    [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element" />
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown [(ngModel)]="timKiemDanhSach.soVBId" [options]="SoVanBan" appendTo="body"
                        [filter]="true" (onChange)="onChangeLoaiVanBan($event)" optionValue="id" optionLabel="tenSo"
                        placeholder="Chọn sổ văn bản" [showClear]="true" [style]="{'width': '100%'}"
                        class="my-drop"></p-dropdown>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown [(ngModel)]="timKiemDanhSach.loaiVBId" [options]="LoaiVanBan" optionValue="loaiVbId"
                        optionLabel="tenLoaiVb" [showClear]="true" [filter]="true" appendTo="body"
                        placeholder="Chọn loại văn bản" [style]="{'width': '100%'}" class="my-drop"></p-dropdown>
                </div>
                <label class="col-12 md:col-3 fl-wr">
                    <p-checkbox name="hienThi" (click)="CheckedHt()" id="hienThi" value="true"
                        label="Tìm chính xác"></p-checkbox>
                </label>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <p-calendar [(ngModel)]="timKiemDanhSach.tuNgay" dateFormat="dd/mm/yy"
                        placeholder="Ngày nhận văn bản" [style]="{'width': '100%'}" class="my-drop"></p-calendar>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-calendar [(ngModel)]="timKiemDanhSach.denNgay" dateFormat="dd/mm/yy"
                        placeholder="Ngày ban hành văn bản" [style]="{'width': '100%'}" class="my-drop"></p-calendar>

                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown [showClear]="true" [(ngModel)]="timKiemDanhSach.nam" [options]="yearOptions"
                        [filter]="true" placeholder="Chọn năm" [style]="{'width': '100%'}" class="my-drop"></p-dropdown>
                </div>
                <label class="col-12 md:col-3 fl-wr">
                    <input [(ngModel)]="timKiemDanhSach.soDen" pInputText type="text" placeholder="Số đến"
                    [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element" />
                </label>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <input [(ngModel)]="timKiemDanhSach.soKyHieu" pInputText type="text" placeholder="Số ký hiệu"
                    [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element" />
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <input [(ngModel)]="timKiemDanhSach.lanhDaoKy" pInputText type="text" placeholder="Lãnh đạo ký"
                    [style]="{'width': '100%'}" class="my-drop" class="p-inputtext p-component p-element" />
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown [showClear]="true" [(ngModel)]="timKiemDanhSach.coQuanBanHanh" [options]="CoQuanBanHanh"
                        optionValue="id" optionLabel="tenCoQuan" [filter]="true" placeholder="Chọn cơ quan ban hành"
                        [style]="{'width': '100%'}" class="my-drop"></p-dropdown>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <button pButton pRipple label="Tìm kiếm" icon="pi pi-search" class="p-button-success mr-2"
                        (click)="GetDanhSachCapNhatMoi()"></button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="wrapper">
                <h2>DANH SÁCH LIÊN KẾT</h2>
                <div class="icon-cls">
                    <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="ThemMoi()">
                    </button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [paginator]="true" #dt1 [value]="LstCapNhatMoi" dataKey="id" [rows]="10"
                        [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 2%;">
                                    <div class="flex justify-content-between align-items-center">
                                        STT
                                    </div>
                                </th>
                                <th style="min-width: 2rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Số đến
                                    </div>
                                </th>
                                <th style="min-width: 3rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Số ký hiệu
                                    </div>
                                </th>
                                <th style="min-width: 14rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Trích yếu
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Ngày ban hành
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Cơ quan ban hành
                                    </div>
                                </th>

                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Trạng thái
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Trạng thái phân phối
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Phân phối
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div class="flex justify-content-between align-items-center">
                                        Chức năng
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center;">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td class="text-center">
                                    {{item.soDiDen}}
                                </td>
                                <td class="text-center">
                                    {{item.soKiHieu}}
                                </td>
                                <td>
                                    {{item.trichYeu}}
                                </td>

                                <td class="text-center">
                                    {{item.ngayBanHanh}}
                                </td>
                                <td>
                                    {{item.coQuanBH}}
                                </td>
                                <td>
                                    {{item.trangThaiId == 1 ? "Đã đến" : item.trangThaiId == 2?"Từ chối tiếp nhận" :
                                    item.trangThaiId == 3 ?"Đã tiếp nhận" :item.trangThaiId == 4 ?"Phân công"
                                    :item.trangThaiId == 5 ?"Đang XL":item.trangThaiId == 7 ?"Hoàn thành" : "Dụ thảo" }}
                                </td>
                                <td>
                                    {{item.trangThaiPhanPhoi}}
                                </td>
                                <td class="text-center">
                                    <button (click)="phanphoiVanBan(item.id)" pButton pRipple icon="pi pi-send"
                                        class="p-button-rounded p-button-info mr-2"></button>
                                </td>
                                <td class="text-center">
                                    <div class="div-center">
                                        <button pButton pRipple (click)="updateVanBan(item.id)" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"></button>
                                        <button pButton pRipple (click)="deleteVanBan(item.id)" icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">No record found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="10">Loading record data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <app-phan-phoi [hienThi]="hienThiPhanPhoi" [id]="id" (tatPopup)="Thoat($event, 'T')"></app-phan-phoi>
        <app-cap-nhat [hienThi]="hienThiCapNhat" [id]="id" (tatPopup)="Thoat($event, 'C')"></app-cap-nhat>

        <p-confirmDialog #cd [style]="{width: '30vw'}">
            <ng-template pTemplate="header">
                <h3>Xác nhận</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pbutton="" pripple="" (click)="cd.accept()" label="Đồng ý" icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-info">
                    <span class="p-button-icon p-button-icon-left pi pi-check" aria-hidden="true"></span>
                    <span class="p-button-label">Đồng ý</span>
                    <span class="p-ink"></span>
                </button>
                <button pbutton="" pripple="" (click)="cd.reject()" label="Hủy" icon="pi pi-bookmark"
                    class="p-element p-ripple p-button p-component p-button-danger">
                    <span class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span>
                    <span class="p-button-label">Hủy</span>
                    <span class="p-ink"></span>
                </button>
            </ng-template>
        </p-confirmDialog>
    </div>
</div>