<div class="grid">
    <div class="col-12 pb-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 mb-0 pb-0">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"
                ></p-breadcrumb>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h2>TÌM KIẾM</h2>
            <div class="field grid">
                <div class="col-12 md:col-3 fl-wr">
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="timKiemDanhSach.keyWord"
                        placeholder="Thông tin văn bản"
                        class="form-control"
                    />
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown
                        [showClear]="true"
                        [(ngModel)]="timKiemDanhSach.nam"
                        [options]="yearOptions"
                        [filter]="true"
                        placeholder="Chọn năm"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </div>
                <div class="col-12 md:col-3 fl-wr">
                    <p-dropdown
                        [showClear]="true"
                        [(ngModel)]="timKiemDanhSach.thang"
                        [options]="monthOptions"
                        [filter]="true"
                        placeholder="Chọn tháng"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </div>

                <label class="col-12 md:col-3 fl-wr">
                    <p-checkbox
                        name="hienThi"
                        (click)="CheckedHt()"
                        id="hienThi"
                        value="true"
                        label="Tìm chính xác"
                    ></p-checkbox>
                </label>
            </div>
            <div class="field grid div-center">
                <button
                    pButton
                    pRipple
                    label="Tìm kiếm"
                    icon="pi pi-search"
                    class="p-button-info mr-2"
                    (click)="LoadDanhSach()"
                ></button>
            </div>
        </div>

        <div class="card">
            <div class="wrapper">
                <h2>DANH SÁCH VĂN BẢN ĐI</h2>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table
                        [paginator]="true"
                        #dt1
                        [value]="traCuuDonGians"
                        dataKey="id"
                        [rows]="10"
                        [loading]="loading"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [rowHover]="true"
                        styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 2%">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        STT
                                    </div>
                                </th>
                                <th style="min-width: 2rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Số đi
                                    </div>
                                </th>
                                <th style="min-width: 3rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Số ký hiệu
                                    </div>
                                </th>
                                <th style="min-width: 14rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Trích yếu
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Ngày ban hành
                                    </div>
                                </th>

                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Lãnh đạo ký
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-capNhatMoi
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td style="text-align: center">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td class="text-center">
                                    {{ capNhatMoi.soDiDen }}
                                </td>
                                <td class="text-center">
                                    <a
                                        href="javascrit:;"
                                        (click)="ChiTiet(capNhatMoi.id)"
                                    >
                                        {{ capNhatMoi.soKiHieu }}</a
                                    >
                                </td>
                                <td>
                                    {{ capNhatMoi.trichYeu }}
                                </td>

                                <td class="text-center">
                                    {{
                                        capNhatMoi.ngayBanHanh
                                            | date : "dd-MM-yyyy"
                                    }}
                                </td>
                                <td>
                                    {{ capNhatMoi.nguoiKy }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">No record found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="10">
                                    Loading record data. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-chi-tiet-van-ban
    [id]="id"
    [show]="hienThiChiTiet"
    (tatPopup)="Thoat($event, 'CT')"
></app-chi-tiet-van-ban>
