

.app-container {
      display: flex;
      height: 100vh;
     }
     
     .extra-menu {
      width: 200px;
      height: 100%;
      margin-right: 1em;
     }
     
     .main-content {
      flex: 1;
      height: 100%;
      padding: 1em;
     }