<p-dialog [(visible)]="show" [style]="{width: '1100px'}" header="Gửi văn bản đi"
    [modal]="true" class="p-fluid" (onHide)="TatPopup()" (onShow)="GetVanBanDi()">
    <div class="card my-card">
        <div class="flex">
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-tl">
                    Số ký hiệu:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.soKiHieu}}</label>
                </div>
            </div>
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Loại văn bản:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-tr">
                    <label>{{vanBanDi.tenLoaiVb}}</label>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Ngày ban hành:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.ngayBanHanh | date: "dd/MM/yyyy"}}</label>
                </div>
            </div>
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Ngày nhận/gửi văn bản:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.ngayNhanGui | date: "dd/MM/yyyy"}}</label>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Sổ văn bản:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.tenSoVB}}</label>
                </div>
            </div>
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Số đi/đến:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label *ngIf="vanBanNhanGui.loaiVanBanDiDen == 1">{{vanBanDi.soDiDenCustom}}</label>
                    <label *ngIf="vanBanNhanGui.loaiVanBanDiDen == 0">{{vanBanNhanGui.soDiDen}}</label>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Trích yếu:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label *ngIf="(vanBanNhanGui.trangThaiId == 2 || vanBanNhanGui.trangThaiId == 5 || vanBanNhanGui.trangThaiId == 35 || vanBanNhanGui.trangThaiId == 36) && vanBanNhanGui.checkCapNhat == 2 else trichYeuData">{{vanBanNhanGui.trichYeu}}</label>
                    <ng-template #trichYeuData>
                        <label>{{vanBanDi.trichYeu}}</label>
                    </ng-template>
                </div>
            </div>
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Số ban hành:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.soBanPhatHanh}}</label>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background my-border-radius-bl">
                    Cơ quan ban hành:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3">
                    <label>{{vanBanDi.coQuanBH}}</label>
                </div>
            </div>
            <div class="my-item-flex justify-content-between ">
                <div class="my-item-flex-left my-bd-right my-bd-bottom p-3 my-background">
                    Mã định danh:
                </div>
                <div class="my-item-flex-right my-bd-right my-bd-bottom p-3 my-border-radius-br">
                    <label>{{vanBanDi.maDinhDanhVB}}</label>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
