<div class="grid">
    <div class="col-12 pb-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 mb-0 pb-0">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"
                ></p-breadcrumb>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h2>TÌM KIẾM</h2>
            <div class="field grid">
                <label class="col-12 md:col-2 fl-wr">
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="timKiemDanhSach.keyWord"
                        placeholder="Thông tin hồ sơ"
                        class="form-control"
                    />
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <p-dropdown
                        [(ngModel)]="timKiemDanhSach.nam"
                        [options]="lstNam"
                        appendTo="body"
                        [filter]="true"
                        optionValue="value"
                        optionLabel="text"
                        placeholder="Chọn năm"
                        [showClear]="true"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <p-dropdown
                        [(ngModel)]="timKiemDanhSach.thang"
                        [options]="lstThang"
                        appendTo="body"
                        [filter]="true"
                        optionValue="value"
                        optionLabel="text"
                        placeholder="Chọn tháng"
                        [showClear]="true"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <p-dropdown
                        [(ngModel)]="timKiemDanhSach.loaiHoSo"
                        [options]="lstLoaiHoSo"
                        appendTo="body"
                        [filter]="true"
                        optionValue="value"
                        optionLabel="text"
                        placeholder="Chọn loại hồ sơ"
                        [showClear]="true"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <p-dropdown
                        [(ngModel)]="timKiemDanhSach.trangThai"
                        [options]="lstTrangThai"
                        optionValue="value"
                        optionLabel="text"
                        [showClear]="true"
                        [filter]="true"
                        appendTo="body"
                        placeholder="Chọn trạng thái"
                        [style]="{ width: '100%' }"
                        class="my-drop"
                    ></p-dropdown>
                </label>
                <label class="col-12 md:col-2 fl-wr">
                    <p-checkbox
                        name="hienThi"
                        (click)="CheckedHt()"
                        id="hienThi"
                        value="true"
                        label="Tìm chính xác"
                    ></p-checkbox>
                </label>
            </div>

            <div class="field grid div-center">
                <label class="col-12 md:col-3 fl-wr">
                    <button
                        pButton
                        pRipple
                        label="Tìm kiếm"
                        icon="pi pi-search"
                        class="p-button-info mr-2"
                        (click)="LoadDanhSach()"
                    ></button>
                </label>
            </div>
        </div>

        <div class="card">
            <div class="wrapper">
                <h2>DANH SÁCH HỒ SƠ CÔNG VIỆC CÁ NHÂN</h2>
                <div class="icon-cls">
                    <button
                        pButton
                        pRipple
                        label="Thêm mới"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="ThemMoi()"
                    ></button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table
                        [paginator]="true"
                        #dt1
                        [value]="lstHoSoCaNhan"
                        dataKey="id"
                        [rows]="10"
                        [loading]="loading"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [rowHover]="true"
                        styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 2%">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        STT
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Mã hồ sơ
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Tên hồ sơ
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Người lập
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Loại hồ sơ
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Trạng thái
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Thời hạn
                                    </div>
                                </th>
                                <th style="min-width: 10rem">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Chức năng
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-item
                            let-rowIndex="rowIndex"
                        >
                            <tr>
                                <td style="text-align: center">
                                    {{ rowIndex + 1 }}
                                </td>
                                <td>
                                    <a
                                        href="javascript:;"
                                        (click)="ChiTiet(item.id)"
                                    >
                                        {{ item.maHoSo }}</a
                                    >
                                </td>
                                <td>
                                    {{ item.tenHoSo }}
                                </td>
                                <td>
                                    {{ item.tenNguoiLap }}
                                </td>

                                <td>
                                    {{ item.loaiHoSo }}
                                </td>
                                <td>
                                    {{ item.trangThai }}
                                </td>
                                <td>
                                    {{
                                        item.thoiHanBaoQuan == null
                                            ? "Vĩnh viễn"
                                            : item.thoiHanBaoQuan + " năm"
                                    }}
                                </td>
                                <td class="text-center">
                                    <div class="div-center">
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-pencil"
                                            (click)="CapNhat(item.id)"
                                            class="p-button-rounded p-button-success mr-2"
                                        ></button>
                                        <button
                                            pButton
                                            pRipple
                                            (click)="Xoa(item.id)"
                                            icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10">No record found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="10">
                                    Loading record data. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog #cd [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
        <h3>Xác nhận</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            pbutton=""
            pripple=""
            (click)="cd.accept()"
            label="Đồng ý"
            icon="pi pi-bookmark"
            class="p-element p-ripple p-button p-component p-button-info"
        >
            <span
                class="p-button-icon p-button-icon-left pi pi-check"
                aria-hidden="true"
            ></span>
            <span class="p-button-label">Đồng ý</span>
            <span class="p-ink"></span>
        </button>
        <button
            pbutton=""
            pripple=""
            (click)="cd.reject()"
            label="Hủy"
            icon="pi pi-bookmark"
            class="p-element p-ripple p-button p-component p-button-danger"
        >
            <span
                class="p-button-icon p-button-icon-left pi pi-times"
                aria-hidden="true"
            ></span>
            <span class="p-button-label">Hủy</span>
            <span class="p-ink"></span>
        </button>
    </ng-template>
</p-confirmDialog>
<app-chi-tiet-ho-so-cong-viec
    [id]="id"
    [show]="hienThiChiTiet"
    (tatPopup)="Thoat($event, 'CT')"
></app-chi-tiet-ho-so-cong-viec>
<p-toast></p-toast>
